#informations {
	border: 1px solid #222;
	height: 500px;
	overflow-y: scroll;
	padding: 50px 30px;
}

#informations .mon {
	margin-top: 15px;
}

#informations .titre {
	text-align: center;
}

#informations .description {
	/* margin: 50px; */
}

#informations .technique {
	border: 1px solid #630b00;
	padding-bottom:10px;
	padding-top:5px;
	margin-bottom:5px;
	margin-top:5px;
}