.block-anneaux {
    position: relative;
    height: 400px;
    width: 100%;
}

.anneau {
    position: absolute;
}

.anneau > div {
    padding: 0;
}

.anneau .traits {
    margin-top: 48px;
}

.anneau .anneau-image .cercle {
    text-align: center;
}

.anneau > div > div {
    padding: 0;
}

.anneau-image h4 {
    text-align: center;
}

.cercle {
    border-radius: 50%;
    border: 1px solid black;
    padding: 0px 6px;
    width: 20px;
}

.anneau.terre .legende,
.anneau.eau .legende {
    text-align: right;
}

.anneau.terre .anneau-image .cercle,
.anneau.air .anneau-image .cercle {
    margin-top: -10px;
}
.anneau.eau .anneau-image .cercle,
.anneau.feu .anneau-image .cercle {
    margin-top: 10px;
}

.anneau.terre, .anneau.eau {
    width: 50%;
    top: 20px;
}

.anneau.terre .anneau-image .cercle,
.anneau.eau .anneau-image .cercle {
    float: right;
}

.anneau.terre .anneau-image img {
  margin-left: 35px;
}

.anneau.eau .anneau-image img {
  margin-left: 20px;
}

.anneau.air, .anneau.feu {
    width: 50%;
    left: 50%;
    top: 20px;
    margin-left: 20px;
}

.anneau.eau, .anneau.feu {
    top:  133px;
    width: 42%;
	z-index: 10;
}

.anneau.eau {
    left: 25px;
}
.anneau.feu {
    right: 5px;
    left: auto;
}

.anneau.vide {
    bottom: 94px;
    text-align: center;
    width: 100%;
    left: 10px;
	z-index: 0;
}

.anneau.vide .anneau-image .cercle {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#monnaie label {
	margin-left: 7px;
}

.resume {
    margin-top: 50px;
}

.resume > div {
    margin-bottom: 20px;
    font-size: 16px;
}

#armes {
    display: inline-block;
	  width: 100%;
}

.arme > .card-body {
    padding: 0
}

.arme > .card-body > div:first-child {
    width: auto;
}

.arme table td {
    border: 1px solid #630b00;
    padding: 5px;
}

.arme table td > div {
    height: 70px;
    overflow-y: scroll;
}

.arme h4 {
    letter-spacing: 2px;
    text-align: center;
}

input.filtre-lancer, input.filtre-garder {
    width: 25%;
}

.sort-appris {
	border: 1px solid #000;
	margin: 5px;
	cursor: pointer;
}

.sort-appris h5 {
	text-align: center;
}

.sort-appris:hover {
	box-shadow: 1px 1px 3px 5px #AAa;
}

.label-emplacements {
	display: inline-flex;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0;
}

.label-emplacements h4 {
	margin: 0 10px 0 0;
}

.emplacements-sorts {
	width: 50px;
}

#avantages {
    margin-bottom: 50px;
}

#combat th {
    background-color: #222;
    color: #FFF;
    text-align: center;
}

#combat th, #combat td {
    padding: 4px;
}

#combat td:not(.notes), #combat td input {
    text-align: center;
}

#memo {
    margin-top: 50px;
}

#memo .accordion:first-child, #memo .accordion:nth-child(3) {
    border-bottom: none;
}

table#personnages {
    margin-bottom: 50px;
}

textarea#objectifs, textarea#notes-joueurs {
    width: 100%;
    border: 1px solid #630b00;
    padding: 5px;
}

#init-total {
    cursor: pointer;
}

#avantages-et-techniques .vue-detaillee, #competences .vue-detaillee {
    display: none;
}

.block-provisions {
    margin-top: 80px;
}

.format-japonais {
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 20px;
}

/* Accordions japonais */
.colonne-japonais {
    width: 75px;
    background-color: #DDD;
    border: 1px solid #630b00;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    transition: 0.4s;
    letter-spacing: 2px;
    float: left;
    height: 100%;
}

#competences .vue-simplifiee {
    height: 420px;
}

.colonne-japonais.active, .colonne-japonais:hover {
    background-color: #630b00;
    color: #FFF;
}

.smooth-hover-japonais {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box-competence {
    height: 225px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    flex: 1 30%; /* 80% 40% 30% */
}

.colonnes-holder {
    height: 100%;
}

@media only screen and (max-width: 1024px) {
  .box-competence {
    flex: 1 40%;
  }
}

@media only screen and (max-width: 850px) {
  .box-competence {
    flex: 1 80%;
  }
}
