table#table-nouveau-combattant {
    margin-top: 30px;
    margin-bottom: 60px;
}

table td,table td input, table th {
    text-align: center;
}
table tr td:first-child, table tr th:first-child {
    width: 7%;
}
table#table-combat-all tr td:last-child, table#table-combat-all tr th:last-child {
    width: 10%;
}
table#table-combat-gm tr td:nth-child(10),
table#table-combat-gm tr th:nth-child(10),
table#table-nouveau-combattant tr td:nth-child(10),
table#table-nouveau-combattant tr th:nth-child(10) {
    width: 10%;
}
table tr td:nth-child(2) {
    width: 20%;
    text-align: left;
}
table#table-combat-gm tr td:nth-child(3),
table#table-combat-gm tr th:nth-child(4),
table#table-combat-gm tr th:nth-child(5),
table#table-combat-gm tr th:nth-child(6),
table#table-combat-gm tr th:nth-child(9),
table#table-nouveau-combattant tr td:nth-child(3),
table#table-nouveau-combattant tr td:nth-child(4),
table#table-nouveau-combattant tr td:nth-child(5),
table#table-nouveau-combattant tr td:nth-child(6),
table#table-nouveau-combattant tr td:nth-child(9) {
    width: 7%;
}

#modal-principale .rangs-blessures, #modal-principale .anneaux, #modal-principale .attributs {
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal-principale .rangs-blessures input {
    width: 28%;
    margin-left: 10px;
}

#modal-principale .anneaux input {
    width: 30%;
    margin-left: 20px;
}

#modal-principale .attributs textarea {
    width: 100%;
}

#finir-tour {
    position: fixed;
    right: 10px;
    bottom: 258px;
    width: 240px;
    border-radius: 7px;
    height: 30px;
}

#finir-tour-container {
    position: relative;
}

/* Combat commun */

table#table-combat-all tr td:nth-child(3),
table#table-combat-all tr td:nth-child(2),
table#table-combat-all tr td:nth-child(4),
table#table-combat-all tr th:nth-child(3),
table#table-combat-all tr td:nth-child(2),
table#table-combat-all tr td:nth-child(4) {
   width: 20%;
}
table#table-combat-all tr td:nth-child(1),
table#table-combat-all tr th:nth-child(1) {
    width: 15%;
}

.tour .tour-actuel {
    font-size: x-large;
}

canvas {
    width: 100%;
    height: auto;
}