form[name="l5abundle_avantage"] > div, form[name="l5abundle_desavantage"] > div {
    width: 100%;
}

#edit-pnj-block,
#edit-arme-block,
#edit-armure-block,
#edit-avantage-block,
#edit-desavantage-block {
    padding-left: 15px;
    padding-right: 15px;
}

.smooth-hover-japonais.creation {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

#block-bonus > div {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#block-bonus select, #block-bonus input {
  flex: 1 20%;
  margin: 0 10px;
}

#block-bonus textarea {
  flex: 1 100%;
  margin: 10px;
}
