.liste-samurai {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.samurai-card {
    cursor: pointer;
    text-align: center;
    border: 1px solid #6b9311;
    height: 270px;
    flex: 1 20%;
    margin: 0 10px 50px 10px;
}

.samurai-card:hover {
    box-shadow: 6px 1px 12px 4px rgba(0, 0, 0, 0.2);
}

.samurai-card div:first-child {
    height: 40px;
}

@media (max-width: 980px) {
  .samurai-card {
    flex: 1 50%;
  }
}
