#table-competences td.see-more div:not(.opened) {
    max-height: 40px;
}

table.anneaux {
    margin-bottom: 40px;
}

.sort .augmentation {
    height: 50px;
    overflow-y: auto;
}

.sort .description {
    height: 250px;
    overflow-y: auto;
    margin-bottom: 40px;
}