{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/welcome.css') }}">
{% endblock %}

{% block titre %}{{ 'menu.welcome'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block mainContent %}
<div class="card">
    <div class="card-body">
        <div class="col-md-12 mb-50">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="titre">Dashboard {{ 'Legend_of_5_Rings'|trans }}</h1>
                <p>{{ 'welcome_page.intro_1'|trans }}</p>
                <p>{{ 'welcome_page.intro_2'|trans }}</p>
                <p>{{ 'welcome_page.intro_3'|trans }}</p>
                <p>{{ 'welcome_page.intro_4'|trans }}</p>
                <br>
                <p>{{ 'welcome_page.have_fun'|trans }}</p>

                <div class="onglets-decouvrir col-md-offset-3 col-md-6 mb-50">
                    <div class="col-md-6">
                        <a href="{{ path('tutoriel_pj', {'_locale': app.request.locale }) }}" class="onglet">{{ 'welcome_page.lesson'|trans }}</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('samurai', ({ 'id': 10, '_locale': app.request.locale })) }}" class="onglet">{{ 'welcome_page.practice'|trans }}</a>
                    </div>
                </div>

                {% if app.user is not null %}
                    <div class="col-md-12 mb se-connecter">
                        <a href="{{ path('homepage', {'_locale': app.request.locale }) }}" class="onglet">{{ 'welcome_page.begin'|trans }}</a>
                    </div>
                {% else %}
                    <!-- Se connecter ! -->
                    <div class="col-md-12 mb se-connecter">
                        <a href="{{ path('fos_user_security_login') }}" class="onglet">{{ 'menu.login'|trans }}</a>
                    </div>
                    <div class="col-md-offset-3 col-md-6">
                        <a href="{{ path('fos_user_registration_register') }}" class="onglet">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/welcome.js') }}"></script>
{% endblock %}