{% extends 'default/layout.html.twig' %}

{% block titre %}Sources{% endblock %}
{% block header %}{% endblock %}

{% block mainContent %}
<div class="card">
    <div class="card-body">
        <h3>Images</h3>
        <p><span style="text-decoration: underline">Mon des clans majeurs :</span> <a href="http://www.tehlorri.com/L5R/L5Rmons.htm">www.tehlorri.com/L5R/L5Rmons.htm</a></p>
        <p><span style="text-decoration: underline">Mon des clans mineurs :</span> <a href="http://www.spookyelectriconline.com/portfolio/image.php?picid=60">www.spookyelectriconline.com/portfolio/image.php?picid=60</a></p>
        <p><span style="text-decoration: underline">Anneaux :</span> <a href="http://l5r.wikia.com/wiki/Elements">l5r.wikia.com/wiki/Elements</a></p>
        <p><span style="text-decoration: underline">Carte :</span> <a href="http://l5r.wikia.com/wiki/File:Rokugan_4th_Edition.jpg">l5r.wikia.com/wiki/File:Rokugan_4th_Edition.jpg</a></p>

        <div class="separateur"></div>

        <h3>Contenu</h3>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan du Crabe :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduCrabe-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduCrabe-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan du Lion :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduLion-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduLion-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan du Phénix :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduPhenix-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduPhenix-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan du Scorpion :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduScorpion-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClanduScorpion-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan de la Licorne :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClandelaLicorne-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClandelaLicorne-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan de la Mante :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClandelaMante-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClandelaMante-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Principales Écoles et Familles du Clan de la Grue :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/LeClandelaGrue-FamillesetEcoles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/LeClandelaGrue-FamillesetEcoles.pdf</a></p>
        <p><span style="text-decoration: underline">Écoles et Familles Additionnels des Clans Majeurs :</span> <span style="font-style: italic">Le Livre des cinq anneaux; L'Empire d'Émeraude</span></p>
        <p><span style="text-decoration: underline">Écoles et Familles des Clans Mineurs :</span> <span style="font-style: italic">Le Livre des cinq anneaux; Quatrième Édition</span></p>
        <p><span style="text-decoration: underline">Compétences de Bugei :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Competences_de_Bugei.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Competences_de_Bugei.pdf</a></p>
        <p><span style="text-decoration: underline">Compétences de Marchand :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Competences_de_Marchand.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Competences_de_Marchand.pdf</a></p>
        <p><span style="text-decoration: underline">Compétences Nobles :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Competences_Nobles.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Competences_Nobles.pdf</a></p>
        <p><span style="text-decoration: underline">Compétences Dégradantes :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Competences_Degradantes.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Competences_Degradantes.pdf</a></p>
        <p><span style="text-decoration: underline">Armes, Armures, et autre équipement :</span> <span style="font-style: italic">Le Livre des cinq anneaux; Quatrième Édition</span></p>
        <p><span style="text-decoration: underline">Katas :</span> <span style="font-style: italic">Le Livre des cinq anneaux; Quatrième Édition</span></p>
        <p><span style="text-decoration: underline">Sorts d'Air :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Air.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Air.pdf</a></p>
        <p><span style="text-decoration: underline">Sorts d'Eau :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Eau.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Eau.pdf</a></p>
        <p><span style="text-decoration: underline">Sorts de Feu :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Feu.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Feu.pdf</a></p>
        <p><span style="text-decoration: underline">Sorts de Terre :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Terre.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Sorts_Terre.pdf</a></p>
        <p><span style="text-decoration: underline">Sorts de Vide :</span> <span style="font-style: italic">Le Livre des cinq anneaux; Quatrième Édition</span></p>
        <p><span style="text-decoration: underline">Avantages :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Avantages.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Avantages.pdf</a></p>
        <p><span style="text-decoration: underline">Désavantages :</span> <a href="http://william.demet.free.fr/L5A/Creation_de_Personnage/Desavantages.pdf">william.demet.free.fr/L5A/Creation_de_Personnage/Desavantages.pdf</a></p>
    </div>
</div>
{% endblock %}