{% extends 'default/layout.html.twig' %}

{% block titre %}{{ 'tutogm_page.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block mainContent %}
<div class="card tuto">
    <div class="card-body">
        <h1 class="titre">{{ 'tutogm_page.title'|trans }}</h1>

		<p>{{ 'tutogm_page.1'|trans }}</p> 
		 
        <h2 class="titre">{{ 'menu.game_management'|trans }}</h2>
        
        {{ 'tutogm_page.2'|trans|raw }}
        <br/>

        <div class="separateur"></div>

        <h2 class="titre">{{ 'menu.fight'|trans }}</h2>
	
		<p>{{ 'tutogm_page.3'|trans }}</p>

        <h3 class="titre">{{ 'tutogm_page.prepare_fight'|trans }}</h3>
    	{{ 'tutogm_page.4'|trans|raw }}
    	
     	<br/>

        <h3 class="titre">{{ 'tutogm_page.start_fight'|trans }}</h3>
        {{ 'tutogm_page.5'|trans|raw }}
    </div>
</div>
{% endblock %}