<div class="col-md-12 vue-detaillee">
    <table id="samurai-competences-table" class="datatable table competences">
        <thead>
        <tr>
            <th>{{ 'Nom'|trans }}</th>
            <th>Description</th>
            <th>Type</th>
            <th>{{ 'skill.specialite_s'|trans }}</th>
            <th>{{ 'skill.mastery_ability'|trans }}</th>
            <th>{{ 'Rank'|trans }}</th>
            <th>{{ 'skill.trait'|trans }}</th>
            <th>{{ 'Roll'|trans }}</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            {% if competence.competence.nom == 'Kenjutsu' %}
                {% set kenjutsu = competence.rang %}
            {% endif %}
            {% set aLancer = competence.jet|split('G') %}
            {% set trait = competence.competence.trait|trans %}
            <tr>
                <td>{{ competence.competence.nom|trans({}, 'skills') }}</td>
                <td class="see-more">
                    <div>{{ competence.competence.description|trans({}, 'skills') }}</div>
                </td>
                <td>{{ competence.competence.type|trans }}</td>
                <td>
                    {% set aSpecialites = competence.specialites|split('/') %}
                    {% for oneSpecialite in aSpecialites %}
                        {{ oneSpecialite|trans({}, 'skills') }}<br/>
                    {% endfor %}
                </td>
                <td class="see-more">
                    <div>
                        {% if competence.rang >= competence.competence.capaciteMaitrise1Effet|first and competence.competence.capaciteMaitrise1Effet is not null %}
                            - {{ competence.competence.capaciteMaitrise1Description|trans({}, 'skills') }}
                        {% endif %}
                        {% if competence.rang >= competence.competence.capaciteMaitrise2Effet|first and competence.competence.capaciteMaitrise2Effet is not null %}
                            <br/>
                            - {{ competence.competence.capaciteMaitrise2Description|trans({}, 'skills') }}
                        {% endif %}
                        {% if competence.rang >= competence.competence.capaciteMaitrise3Effet|first and competence.competence.capaciteMaitrise3Effet is not null %}
                            <br/>
                            - {{ competence.competence.capaciteMaitrise3Description|trans({}, 'skills') }}
                        {% endif %}
                    </div>
                </td>
                <td id="{{ competence.competence.nom|trans({}, 'skills')|replace({' ': '-'}) }}">{{ competence.rang }}</td>
                <td>{{ trait|trans }}</td>
                <td {% if competence.jet|first in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                    title="{{ 'skill.skill_rank'|trans }}({{ competence.rang }}) + {{ trait }}({{ aLancer[1] }}) {{ 'Keep'|trans }} {{ trait|trans }}({{ aLancer[1] }})" {% endif %} class="jet">{{ competence.jet }}</td>
                <td><button class="bouton-preparation-lancer competence">{{ 'Prepare'|trans }}</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>