{{ form_start(armureForm) }}
<div>
	<div class="col-md-12">
		<div class="col-md-4">
			{{ form_row(armureForm.nom) }}
		</div>
		<div class="col-md-2">
			{{ form_row(armureForm.nd) }}
		</div>
		<div class="col-md-3">
			{{ form_row(armureForm.reduction) }}
		</div>
		<div class="col-md-3">
			{{ form_row(armureForm.prix, { 'type':'number' }) }}
		</div>
	</div>

	<div class="separateur col-md-12"></div>

	<div class="col-md-12">
		<div class="col-md-6">
			{{ form_row(armureForm.reglesSpeciales) }}
		</div>
		<div class="col-md-6">
			{{ form_row(armureForm.description) }}
		</div>
	</div>

	<div class="separateur col-md-12"></div>

	<div class="col-md-12">
		{{ form_row(armureForm.save) }}
	</div>
	<div class="col-md-12">
        {{ form_row(armureForm.annuler) }}
	</div>
</div>
{{ form_rest(armureForm) }}
{{ form_end(armureForm) }}