{{ form_start(pnjForm) }}
<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-12">
            {{ form_row(pnjForm.nom) }}
        </div>
        <div class="col-md-12">
            {{ form_row(pnjForm.rapport) }}
        </div>
        <div class="col-md-12">
            {{ form_row(pnjForm.clan) }}
        </div>
        <div class="col-md-6">
            {{ form_row(pnjForm.honneur) }}
        </div>
        <div class="col-md-6">
            {{ form_row(pnjForm.rangMaitrise) }}
        </div>
        <div class="col-md-12">
            {{ form_row(pnjForm.notes) }}
        </div>
        {# <div class="col-md-4">
            {{ form_row(pnjForm.linkedTo) }}
        </div> #}
    </div>

    <div class="col-md-2">
        <div class="col-md-12">{{ form_row(pnjForm.terre) }}</div>
        <div class="col-md-12" title="{{ 'character.penalty.indemn'|trans }}">
            {{ form_row(pnjForm.rangBlessure1, { 'type':'number' }) }}
        </div>
        <div class="col-md-12" title="{{ 'character.penalty.scratched'|trans }}">
            {{ form_row(pnjForm.rangBlessure2, { 'type':'number' }) }}
        </div>
        <div class="col-md-12" title="{{ 'character.penalty.slightly_wounded'|trans }}">
            {{ form_row(pnjForm.rangBlessure3, { 'type':'number' }) }}
        </div>
        <div class="col-md-12" title="{{ 'character.penalty.wounded'|trans }}">
            {{ form_row(pnjForm.rangBlessure4, { 'type':'number' }) }}
        </div>
    </div>

    <div class="col-md-2">
        <div class="col-md-12" title="{{ 'character.penalty.gravely_wounded'|trans }}">
            {{ form_row(pnjForm.rangBlessure5, { 'type':'number' }) }}
        </div>
        <div class="col-md-12" title="{{ 'character.penalty.disabled'|trans }}">
            {{ form_row(pnjForm.rangBlessure6, { 'type':'number' }) }}
        </div>
        <div class="col-md-12" title="{{ 'character.penalty.exhausted'|trans }}">
            {{ form_row(pnjForm.rangBlessure7, { 'type':'number' }) }}
        </div>
        <div class="col-md-12" title="{{ 'character.penalty.out'|trans }}">
            {{ form_row(pnjForm.rangBlessure8, { 'type':'number' }) }}
        </div>
    </div>

    <div class="col-md-offset-1 col-md-2">
        <div class="col-md-12">
            {{ form_row(pnjForm.arme) }}
        </div>
        <div class="col-md-12" title="format: XGX">
            {{ form_row(pnjForm.jetInitiative) }}
        </div>
        <div class="col-md-12" title="format: XGX">
            {{ form_row(pnjForm.jetAttaque) }}
        </div>
        <div class="col-md-12" title="format: XGX">
            {{ form_row(pnjForm.jetDegats) }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-12">
            {{ form_row(pnjForm.armure) }}
        </div>
        <div class="col-md-12" title="{{ 'character.nd'|trans }}">
            {{ form_row(pnjForm.nd) }}
        </div>
        <div class="col-md-12">
            {{ form_row(pnjForm.reduction) }}
        </div>
    </div>

    <div id="block-bonus" class="mt-50 mb-50 col-md-12">
        {% for oneBonus in bonus %}
            <div class="col-md-12">
              <input type="text" class="l5a-form" disabled value="{{ oneBonus.type|trans }}">
              <input type="text" class="l5a-form" disabled value="{{ oneBonus.nom|trans }}">
              <textarea class="l5a-form" disabled rows="4">{{ oneBonus.description|trans }}</textarea>
            </div>
        {% endfor %}
        <div class="col-md-12">
            <button id="add-bonus">{{ 'add_attribute'|trans }}</button>
            <!-- Type de bonus -->
            <select id="type-bonus-model" class="l5a-form hidden">
                <option value="">-- {{ 'attribute_type'|trans }} --</option>
                <option value="Technique">Technique</option>
                <option value="Sort">{{ 'Spell'|trans }}</option>
                <option value="Avantage">{{ 'Advantage'|trans }}</option>
                <option value="Desavantage">{{ 'Disadvantage'|trans }}</option>
                <!--<option value="Kata">Kata</option>
                <option value="PouvoirOutremonde">{{ 'shadowland_power'|trans }}</option> -->
                <!--

                <option value="Kiho">Kiho</option>
                 -->
            </select>

            <!-- CAS TECHNIQUE -->
            <!-- Clans -->
            <select id="Clan-bonus-model" class="l5a-form hidden">
                <option value="">-- Clan --</option>
            </select>

            <!-- École -->
            <select id="Ecole-bonus-model" class="l5a-form hidden">
                <option value="">-- {{ 'School'|trans }} --</option>
            </select>

            <!-- Kata -->
            <select id="Kata-bonus-model" class="l5a-form hidden">
                <option value="">-- Kata --</option>
            </select>

            <!-- CAS SORT -->
            <!-- Anneau -->
            <select id="Anneau-bonus-model" class="l5a-form hidden">
                <option value="">-- {{ 'Ring'|trans }} --</option>
                <option value="Terre">{{ 'samurai.ring.earth'|trans }}</option>
                <option value="Air">{{ 'samurai.ring.air'|trans }}</option>
                <option value="Eau">{{ 'samurai.ring.water'|trans }}</option>
                <option value="Feu">{{ 'samurai.ring.fire'|trans }}</option>
                <option value="Vide">{{ 'samurai.ring.void'|trans }}</option>
                <option value="Tous" selected>{{ 'All'|trans }}</option>
            </select>

			<!-- Maitrise -->
            <select id="Maitrise-bonus-model" class="l5a-form hidden">
                <option value="">-- {{ 'Mastery'|trans }} --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" selected>6</option>
            </select>
			<!-- End CAS SORT -->

            <!-- Nom -->
            <select id="Nom-bonus-model" class="l5a-form hidden">
                <option value="">-- {{ 'Nom'|trans }} --</option>
            </select>

            <!-- Cas custom -->
            <input id="Nom-Custom-bonus-model" class="l5a-form hidden" type="text" value="" placeholder="{{ 'Nom'|trans }}"/>

            <!-- Description -->
            <textarea id="Description-bonus-model" class="l5a-form hidden" placeholder="Description"></textarea>
        </div>
    </div>

    <div class="separateur col-md-12"></div>


    <div class="col-md-12 hidden">
        <div class="col-md-offset-1 col-md-2">
            <div class="col-md-8">{{ form_row(pnjForm.constitution) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.volonte) }}</div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12">{{ form_row(pnjForm.air) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.reflexes) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.intuition) }}</div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12">{{ form_row(pnjForm.eau) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.force) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.perception) }}</div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12">{{ form_row(pnjForm.feu) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.agilite) }}</div>
            <div class="col-md-8">{{ form_row(pnjForm.intelligence) }}</div>
        </div>
        <div class="col-md-2">
            {{ form_row(pnjForm.vide) }}
        </div>
    </div>

    <div class="separateur col-md-12"></div>
    <div class="col-md-12">
        {{ form_row(pnjForm.save) }}
    </div>
    <div class="col-md-12">
        {{ form_row(pnjForm.annuler) }}
    </div>
</div>
{{ form_rest(pnjForm) }}
{{ form_end(pnjForm) }}
