{{ form_start(armeForm) }}
<div class="col-md-6">
	<div class="col-md-4">
		<div class="col-md-12">
			{{ form_row(armeForm.nom) }}
		</div>
		<div class="col-md-12">
			{{ form_row(armeForm.type) }}
		</div>
		<div class="col-md-12">
			{{ form_row(armeForm.motsCles) }}
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md-12">
			{{ form_row(armeForm.vd) }}
		</div>
		<div class="col-md-12">
			{{ form_row(armeForm.force) }}
		</div>
		<div class="col-md-12">
			{{ form_row(armeForm.portee) }}
		</div>
		<div class="col-md-12">
            {{ form_row(armeForm.prix, { 'type':'number' }) }}
		</div>
	</div>

	<div class="col-md-5">
		<div class="col-md-12">
			{{ form_row(armeForm.note) }}
		</div>
		<div class="col-md-12">
			{{ form_row(armeForm.description) }}
		</div>
	</div>

	<div class="separateur col-md-12"></div>

	<div class="col-md-12">
		{{ form_row(armeForm.save) }}
	</div>
	<div class="col-md-12">
        {{ form_row(armeForm.annuler) }}
	</div>
</div>
{{ form_rest(armeForm) }}
{{ form_end(armeForm) }}