<p>{{ 'History'|trans }}:</p>
{% for oneUpdate in updates %}
    {% if oneUpdate.type is null and oneUpdate.nom is null %}
        <p>{{ oneUpdate.date }}: {{ 'samurai.xp.given_by_gm'|trans({'%valeur%': oneUpdate.valeur}) }}</p>
    {% else %}
        <p>{{ oneUpdate.date }} : 
        {% if oneUpdate.signe == '+' %}
        	{{ 'samurai.xp.earned'|trans({'%valeur%': oneUpdate.valeur, '%type%': oneUpdate.type, '%nom%': oneUpdate.nom|trans|default('')}) }}
        {% else %}
        	{{ 'samurai.xp.spent'|trans({'%valeur%': oneUpdate.valeur, '%type%': oneUpdate.type, '%nom%': oneUpdate.nom|trans|default('')}) }}
        {% endif %}
    {% endif %}
{% endfor %}