<div class="col-xs-4">
    {% set honneur = samurai.honneur |split('.') %}
    <strong>{{ 'samurai.honour'|trans }}: </strong><input id="honneur-points" class="" value="{{ honneur[1]|default(0) }}" type="number" data-champ="Honneur" max="10" min="-1"/>
    <p style="margin-left:20px">{{ 'Rank'|trans }}:
        <input id="honneur-rang" class="edit-samurai" value="{{ honneur[0]|default(0) }}" type="number" data-champ="Honneur" max="10" min="0"/>
    </p>
</div>
<div class="col-xs-4">
    {% set gloire = samurai.gloire |split('.') %}
    <strong>{{ 'samurai.glory'|trans }}: </strong><input id="gloire-points" class="" value="{{ gloire[1]|default(0) }}" type="number" data-champ="Gloire" max="10" min="-1">
    <p style="margin-left:20px">Rang :
        <input id="gloire-rang" class="edit-samurai" value="{{ gloire[0]|default(0) }}" type="number" data-champ="Gloire" max="10" min="-10">
    </p>
</div>
<div class="col-xs-4"><strong>{{ 'samurai.taint'|trans }}: </strong><input id="souillure" class="edit-samurai" value="{{ samurai.souillure }}" type="number" data-champ="Souillure" min="0"/></div>
