<table>
	<thead>
		<tr>
			<th>{{ 'Nom'|trans }}</th>
			<th>{{ 'samurai.experience'|trans }}</th>
			<th>{{ 'samurai.reputation'|trans }}</th>
			<th>{{ 'samurai.wounds'|trans }}</th>
			<th>{{ 'samurai.honour'|trans }}</th>
			<th>{{ 'samurai.glory'|trans }}</th>
			<th>{{ 'samurai.statut'|trans }}</th>
			<th>{{ 'samurai.taint'|trans }}</th>
			<th>{{ 'Player'|trans }}</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for samurai in samurais %}
			<tr class="samurai" data-id="{{ samurai.id }}">
				<td class="nom"><a href="{{ path('samurai', {'id': samurai.id, '_locale': app.request.locale}) }}">{{ samurai.nom }}</a></td>
				<td class="xp">{{ samurai.xp }}</td>
				<td>{{ samurai.reputation }}</td>
				<td>{{ samurai.blessures }}</td>
				<td>{{ samurai.honneur }}</td>
				<td>{{ samurai.gloire }}</td>
				<td>{{ samurai.statut }}</td>
				<td>{{ samurai.souillure }}</td>
				<td>
					{% if samurai.joueur matches '/^\\d+$/' %}
                        {{ joueurs[samurai.joueur]['username'] }}
                    {% else %}
                        {{ samurai.joueur }}
                    {% endif %}</td>
				<td>
				{#<button class="attribuer-equipement" data-id="{{ samurai.id }}">Attribuer équipement</button><br>#}
					<button class="attribuer-joueur" data-id="{{ samurai.id }}">{{ 'give_to'|trans }} {{ 'Player'|trans }}</button><br/>
					<button class="editer-perso" data-id="{{ samurai.id }}">{{ 'edit'|trans }} {{ 'Character'|trans }}</button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>