<h3 class="titre">Armes</h3>
<table id="table-arme" class="datatable table">
    <thead>
    <tr>
        <th>{{ 'Nom'|trans }}</th>
        <th>Description</th>
        <th>Type</th>
        <th>{{ 'keyword'|trans }}</th>
        <th>{{ 'arme.vd_or_force'|trans }}</th>
        <th>{{ 'Reach'|trans }}</th>
        <th>{{ 'Price'|trans }} <small>{{ 'in_zeni'|trans }}</small></th>
        <th>{{ 'arme.note'|trans }}</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for arme in armes %}
        <tr id="arme-{{ arme.id }}">
            <td>{{ arme.nom|trans }}</td>
            <td class="see-more">
                <div>{{ arme.description|trans }}</div>
            </td>
            <td>{{ arme.type|trans }}</td>
            <td>{{ arme.motsCles|trans }}</td>
            <td>
                {% if arme.vd is not null %}
                    {{ arme.vd }}
                {% elseif arme.force is not null %}
                    {{ arme.force }}
                {% endif %}
            </td>
            <td>{{ arme.portee }}</td>
            <td>{{ arme.prix }}</td>
            <td class="see-more"><div>{{ arme.note|trans }}</div></td>
            <td>
                <a href="{{ path('master_create',
                ({type: 'arme', id: arme.id, '_locale': app.request.locale})) }}" class="btn">{{ 'edit'|trans }}</a>
                <button class="afficher-liste-samurai" data-id="{{ arme.id }}" data-attribuer="Arme">{{ 'give_to'|trans }}</button>
                <div class="hidden">
                    <select class="liste-samurai">
                        {% for oneSamurai in samurais %}
                            <option value="{{ oneSamurai.id }}">{{ oneSamurai.nom }}</option>
                        {% endfor %}
                    </select>
                    <button class="valider-attribuer" data-id="{{ arme.id }}" data-type="arme" data-nom="{{ arme.nom|trans }}">{{ 'Validate'|trans }}</button>
                    <button class="annuler-attribuer">{{ 'Cancel'|trans }}</button>
                </div>
                <button class="supprimer-arme-gm" data-id="{{ arme.id }}" data-suppr="Arme">{{ 'Delete'|trans }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>