<h3 class="titre">Techniques</h3>
<table id="table-pnj" class="datatable table">
    <thead>
    <tr>
        <th>{{ 'Nom'|trans }}</th>
        <th>Description</th>
        <th>{{ 'character_type'|trans }}</th>
        <th>{{ 'minimum_rank'|trans }}</th>
        <th>{{ 'Path'|trans }}</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for oneTechnique in techniques %}
        <tr>
            <td>{{ oneTechnique.nom|trans }}</td>
            <td>{{ oneTechnique.description|trans }}</td>
            <td>{{ oneTechnique.typePersonnage|trans }}</td>
            <td>{{ oneTechnique.rangMinimum }}</td>
            <td>{{ oneTechnique.ecoleVoie|trans }}</td>
            <td>
                <a href="{{ path('master_create',
                    ({type: 'technique', id: oneTechnique.id, '_locale': app.request.locale})) }}#edit-technique-block" class="btn">{{ 'edit'|trans }}</a>
                <button class="supprimer-technique-gm" data-id="{{ oneTechnique.id }}" data-suppr="Technique">{{ 'Delete'|trans }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
