<h3 class="titre">Armures</h3>
<table id="table-armure" class="datatable table">
    <thead>
    <tr>
        <th>{{ 'Nom'|trans }}</th>
        <th>Description</th>
        <th>{{ 'armure.nd'|trans }}</th>
        <th>{{ 'armure.reduction'|trans }}</th>
        <th>{{ 'Price'|trans }} <small>{{ 'in_zeni'|trans }}</small></th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for armure in armures %}
        <tr>
            <td>{{ armure.nom|trans }}</td>
            <td class="see-more">
                <div>{{ armure.description|trans }}</div>
            </td>
            <td>{{ armure.nd }}</td>
            <td>{{ armure.reduction }}</td>
            <td>{{ armure.prix }}</td>
            <td><a href="{{ path('master_create',
                ({type: 'armure', id: armure.id, '_locale': app.request.locale})) }}" class="btn">{{ 'edit'|trans }}</a>
                <button class="afficher-liste-samurai" data-id="{{ armure.id }}" data-attribuer="Armure">{{ 'give_to'|trans }}</button>
                <div class="hidden">
                    <select class="liste-samurai">
                        {% for oneSamurai in samurais %}
                            <option value="{{ oneSamurai.id }}">{{ oneSamurai.nom }}</option>
                        {% endfor %}
                    </select>
                    <button class="valider-attribuer" data-id="{{ armure.id }}" data-type="armure" data-nom="{{ armure.nom|trans }}">{{ 'Validate'|trans }}</button>
                    <button class="annuler-attribuer">{{ 'Cancel'|trans }}</button>
                </div>
                <button class="supprimer-armure-gm" data-id="{{ armure.id }}" data-suppr="Armure">{{ 'Delete'|trans }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>