<h3 class="titre">PNJs</h3>
<table id="table-pnj" class="datatable table">
    <thead>
    <tr>
        <th>{{ 'Nom'|trans }}</th>
        <th>Clan</th>
        <th>{{ 'Rank'|trans }}</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for onePNJ in pnjs if onePNJ.genereGm == true %}
        <tr>
            <td>{{ onePNJ.nom }}</td>
            <td>{{ onePNJ.clan|trans }}</td>
            <td>{{ onePNJ.rangMaitrise }}</td>
            <td>{{ onePNJ.notes }}</td>
            <td><a href="{{ path('master_create',
                    ({type: 'pnj', id: onePNJ.id, '_locale': app.request.locale})) }}" class="btn">{{ 'edit'|trans }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>