{% extends 'main/l5a/recherche.html.twig' %}

{% block indicateurBasDePage %}
    {% if samurai is defined %}
        <p class="psides-10">{{ 'recherche.remaining_xp'|trans }}:
            <span id="xp-restante">{{ samurai.xpRestant }}</span>
            <button id="refresh-xp">Refresh</button>
        </p>
    {% endif %}
{% endblock %}

{% block mainContent %}
{{ parent() }}
<div class="card">
    <div class="card-body">
        <h3 class="titre">{{ 'recherche.search_kata'|trans }}</h3>
        <div class="table-responsive">
            <table id="table-katas" class="datatable table">
                <thead>
                    <tr>
                        <th>{{ 'Nom'|trans }}</th>
                        <th>{{ 'Ring'|trans }}</th>
                        <th>{{ 'Mastery'|trans }}</th>
                        <th>{{ 'Schools'|trans }}</th>
                        <th>{{ 'Effect'|trans }}</th>
                        {% if samurai is defined %}<th>Action</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for kata in katas %}
                        {% set kata_ecoles = kata.ecoles|split(',') %}
                        {% if samurai is defined %}
                            {% if samurai.ecoleId not in kata_ecoles and kata.ecoles != 'Toutes' or kata.id in samurai.katas %}
                                {% set apprenable = false %}
                            {% else %}
                                {% set apprenable = true %}
                            {% endif %}
                        {% else %}
                            {% set apprenable = true %}
                        {% endif %}
                        <tr id="kata-{{ kata.id }}" {% if apprenable == false %} class="disabled" {% endif %}>
                            <td>{{ kata.nom|trans }}</td>
                            <td>{{ kata.anneau|trans }}</td>
                            <td>{{ kata.maitrise }}</td>
                            <td>
                                {% if kata.ecoles == 'Toutes' %}
                                    Toutes
                                {% else %}
                                    {% for key, ecole in ecoles if key in kata_ecoles %}
                                        {{ ecole.nom|trans }}<br/>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td class="see-more">{{ kata.effet|trans }}</td>
                            {% if samurai is defined %}
                                <td>
                                    {% set anneau = kata.anneau %}
                                    {% set anneau_valeur = 0 %}
                                    {% if kata.anneau == 'Terre' %}
                                        {% set anneau_valeur = samurai.terre %}
                                    {% elseif kata.anneau == 'Air' %}
                                        {% set anneau_valeur = samurai.air %}
                                    {% elseif kata.anneau == 'Eau' %}
                                        {% set anneau_valeur = samurai.eau %}
                                    {% elseif kata.anneau == 'Feu' %}
                                        {% set anneau_valeur = samurai.feu %}
                                    {% elseif kata.anneau == 'Vide' %}
                                        {% set anneau_valeur = samurai.vide %}
                                    {% endif %}

                                    {% if apprenable == true %}
                                        <button class="acheter-kata" data-id="{{ kata.id }}" data-nom="{{ kata.nom|trans }}" data-cout="{{ kata.maitrise }}" data-anneau="{{ anneau }}" data-anneau-valeur="{{ anneau_valeur }}">{{ 'Buy'|trans }}</button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% if samurai is defined and samurai is not null %}
        <script>
            var routeAcheterKata = "{{ path('acheter_kata', ({ 'samuraiId': samurai.id})) }}"
        </script>
    {% endif %}
{% endblock %}
