{% extends 'main/l5a/recherche.html.twig' %}

{% block indicateurBasDePage %}
    {% if samurai is defined %}
        <div class="psides-10">
            <p>{{ 'remaining_thing'|trans({'%chose%': 'Koku'}) }}: <span id="koku">{{ samurai.koku }}</span></p>
            <p>{{ 'remaining_thing'|trans({'%chose%': 'Bu'}) }}: <span id="bu">{{ samurai.bu }}</span></p>
            <p>{{ 'remaining_thing'|trans({'%chose%': 'Zeni'}) }}: <span id="zeni">{{ samurai.zeni }}</span></p>
        </div>
    {% endif %}
{% endblock %}

{% block mainContent %}
{{ parent() }}
<div class="card">
    <div class="card-body">
		<h3 class="titre">{{ 'Armoury'|trans }}</h3>
        <div class="table-responsive">
            <table id="table-armes" class="datatable table">
                <thead>
                    <tr>
                        <th>{{ 'Nom'|trans }}</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>{{ 'keyword'|trans }}</th>
                        <th>{{ 'arme.vd'|trans }} / {{ 'arme.force'|trans }} / {{ 'armure.nd'|trans }}</th>
                        <th>{{ 'Reach'|trans }} / {{ 'armure.reduction'|trans }} / {{ 'Number'|trans }}</th>
                        <th>{{ 'Price'|trans }} <small>{{ 'in_zeni'|trans }}</small></th>
                        <th>{{ 'arme.note'|trans }}</th>
                        {% if samurai is defined %}<th>Action</th>{% endif %}
                    </tr>
                </thead>
                <tbody>

                    <!-- Armes -->
                    {% for arme in items.armes if arme.personnalisee == 0 %}
                        <tr>
                            <td>{{ arme.nom|trans({}, 'weapons') }}</td>
                            <td class="see-more">
                                <div>{{ arme.description|trans({}, 'weapons') }}</div>
                            </td>
                            <td>{{ arme.type|trans }}</td>
                            <td>{{ arme.motsCles|trans }}</td>
                            <td>
                                {% if arme.vd is not null %}
                                    {{ 'arme.vd'|trans }}: {{ arme.vd }}
                                {% elseif arme.force is not null %}
                                    {{ 'arme.force'|trans }}: {{ arme.force }}
                                {% endif %}
                            </td>
                            <td>{% if arme.force is not null %} {{ 'Reach'|trans }}: {{ arme.portee }}m {% endif %}</td>
                            <td>{{ arme.prix *10 }}</td>
                            <td class="see-more"><div>{{ arme.note|trans({}, 'weapons') }}</div></td>
                            {% if samurai is defined %}
                                <td>
                                    {% if arme.prix != 0 %}
                                        {% if created is defined %}
                                            <div class="col-md-12">
                                                <input id="achat-creation-{{ arme.id }}" class="col-md-1" name="achat-creation-{{ arme.id }}" type="checkbox"/>
                                                <label for="achat-creation-{{ arme.id }}" class="col-md-11" >{{ 'character_creation'|trans }}</label>
                                            </div>
                                        {% endif %}
                                        <button class="acheter-item" data-id="{{ arme.id }}" data-cout="{{ arme.prix *10 }}"
                                                data-nom="{{ arme.nom|trans({}, 'weapons') }}" data-type="arme">{{ 'Buy'|trans }}</button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    <!-- Armures -->
                    {% for armure in items.armures if armure.personnalisee == 0 %}
                        <tr>
                            <td>{{ armure.nom|trans({}, 'armor') }}</td>
                            <td class="see-more">
                                <div>{{ armure.description|trans({}, 'armor') }}</div>
                            </td>
                            <td>{{ 'Armor'|trans }}</td>
                            <td></td>
                            <td>{{ 'armure.nd'|trans }}: {{ armure.nd }}</td>
                            <td>{{ 'armure.reduction'|trans }}: {{ armure.reduction }}</td>
                            <td>{{ armure.prix *10 }}</td>
                            <td class="see-more"><div>{{ armure.reglesSpeciales|trans({}, 'armor') }}</div></td>
                            {% if samurai is defined %}
                                <td>
                                    {% if armure.prix != 0 %}
                                        {% if created is defined %}
                                            <div class="col-md-12">
                                                <input id="achat-creation-{{ armure.id }}" class="col-md-1" name="achat-creation-{{ armure.id }}" type="checkbox"/>
                                                <label for="achat-creation-{{ armure.id }}" class="col-md-11" >{{ 'character_creation'|trans }}</label>
                                            </div>
                                        {% endif %}
                                        <button class="acheter-item" data-id="{{ armure.id }}" data-cout="{{ armure.prix *10 }}"
                                                data-nom="{{ armure.nom|trans({}, 'armor') }}" data-type="armure">{{ 'Buy'|trans }}</button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    <!-- Flèches -->
                    {% for fleche in items.fleches %}
                        <tr>
                            <td>{{ fleche.nom|trans }}</td>
                            <td class="see-more"></td>
                            <td>{{ 'Arrow'|trans }}</td>
                            <td></td>
                            <td>{{ 'arme.vd'|trans }}: {{ fleche.degats }}</td>
                            <td>{{ 'Number'|trans }}: <input type="number" class="nombre-fleches" value="0"/></td>
                            <td class="fleche-prix">{{ fleche.prix *10 }}</td>
                            <td class="see-more"><div>{{ fleche.notes|trans }}</div></td>
                            {% if samurai is defined %}
                                <td>
                                    {% if fleche.prix != 0 %}
                                        {% if created is defined %}
                                            <div class="col-md-12 p-0">
                                                <input id="achat-creation-{{ fleche.id }}" class="col-md-1" name="achat-creation-{{ fleche.id }}" type="checkbox"/>
                                                <label for="achat-creation-{{ fleche.id }}" class="col-md-11" >{{ 'character_creation'|trans }}</label>
                                            </div>
                                        {% endif %}
                                        <button class="acheter-item" data-id="{{ fleche.id }}" data-cout="{{ fleche.prix *10 }}"
                                                data-nom="{{ fleche.nom|trans }}" data-type="fleche">{{ 'Buy'|trans }}</button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <small>1 koku = 5 bu ; 1 bu = 10 zeni</small>
        </div>
    </div>
</div>

{% if samurai is defined %}
    <script>
        var chemins = {};
        chemins.acheterItem = "{{ path('acheter_item', ({ 'id': samurai.id })) }}";
    </script>
{% endif %}
{% endblock %}
