{% extends 'main/l5a/recherche.html.twig' %}

{% block mainContent %}
{{ parent() }}
<div class="card">
    <div class="card-body">
		<h3 class="titre">{{ 'recherche.des_advantages.list'|trans }}</h3>
		<p>{{ 'recherche.des_advantages.warning_1'|trans }}</p>

        {% if samurai is not defined %}
			<p>{{ 'recherche.des_advantages.how_to'|trans }}</p>
		{% endif %}

		{#<p>Si la valeur d'un avantage ou désavantage que vous choisissez ne s'applique pas à vous#}
		{#( ie'Les personnages du Clan du Crabe peuvent acheter cet Avantage pour 2 points'), il est conseillé#}
		{#de noter la différence d'expérience et de la communiquer au maître du jeu afin qu'il corrige cela.</p>#}

		
		<div class="col-md-12 accordion-holder">

			<h4 class="titre">{{ 'Advantages'|trans }}</h4>
			<div class="">
				<table id="table-avantages" class="datatable table">
					<thead>
						<tr>
							<td>{{ 'Nom'|trans }}</td>
							<td>{{ 'Effect'|trans }}</td>
							<td>{{ 'des_avantage.subtype'|trans }}</td>
							<td>{{ 'Cost'|trans }}</td>
                            {% if samurai is not defined %}<td>{{ 'Add'|trans }} {{ 'Advantage'|trans }}</td>{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for oneAvantage in avantages %}
							<tr>
								<td>{{ oneAvantage.nom|trans({}, 'advantages') }}</td>
								<td>{{ oneAvantage.description|trans({}, 'advantages')|raw }}</td>
								<td>{{ oneAvantage.sousType|trans }}</td>
								<td>{{ oneAvantage.valeur }}</td>
                                {% if samurai is not defined %}
									<td>
										<select class="select-samurai">
											<option value="">{{ 'Character'|trans }}</option>
											{% for oneSamurai in allSamurai %}
												<option value="{{ oneSamurai.samurai.id }}" data-avantages="{{ oneSamurai.avantages }}"
														data-xp-restant="{{ oneSamurai.samurai.xpRestant }}">
													{{ oneSamurai.samurai.nom }}
												</option>
											{% endfor %}
										</select>
										<button class="ajouter-des-avantage" data-type="avantage" data-id="{{ oneAvantage.id }}"
												data-nom="{{ oneAvantage.nom|trans({}, 'advantages') }}" data-valeur="{{ oneAvantage.valeur }}">+</button>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<h4 class="titre">{{ 'Disadvantages'|trans }}</h4>
			<div class="">
				<table id="table-desavantages" class="datatable table">
					<thead>
						<tr>
							<td>{{ 'Nom'|trans }}</td>
							<td>{{ 'Effect'|trans }}</td>
							<td>{{ 'des_avantage.subtype'|trans }}</td>
							<td>{{ 'des_avantage.valeur'|trans }}</td>
                            {% if samurai is not defined %}<td>{{ 'Add'|trans }} {{ 'Disadvantage'|trans }}</td>{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for oneDesavantage in desavantages %}
							<tr>
								<td>{{ oneDesavantage.nom|trans({}, 'disadvantages') }}</td>
								<td>{{ oneDesavantage.description|trans({}, 'disadvantages')|raw }}</td>
								<td>{{ oneDesavantage.sousType|trans }}</td>
								<td>{{ oneDesavantage.valeur }}</td>
                                {% if samurai is not defined %}
									<td>
										<select class="select-samurai">
											<option value="">{{ 'Character'|trans }}</option>
                                            {% for oneSamurai in allSamurai %}
												<option value="{{ oneSamurai.samurai.id }}"
														data-desavantages="{{ oneSamurai.desavantages }}"
														data-xp-restant="{{ oneSamurai.samurai.xpRestant }}">
                                                    {{ oneSamurai.samurai.nom }}
												</option>
                                            {% endfor %}
										</select>
										<button class="ajouter-des-avantage" data-type="desavantage" data-id="{{ oneDesavantage.id }}"
												data-nom="{{ oneDesavantage.nom|trans({}, 'disadvantages') }}" data-valeur="{{ oneDesavantage.valeur }}">+</button>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

        {% if samurai is defined %}
			<div>{{ 'recherche.display_xp' }} : <div id="xp-restante">{{ samurai.xpRestant }}</div></div>
		{% endif %}
    </div>
</div>
{% if samurai is defined %}
	<script>
        var chemins = {};
		{# chemins.acheterDesAvantages = "{{ path('acheter_des_avantages', ({ 'id': samurai.id, '_locale': app.request.locale })) }}"; #}
        chemins.samurai = "{{ path('samurai', ({id: samurai.id, '_locale': app.request.locale})) }}";
	</script>
{% else %}
	<script>
        var chemins = {};
        chemins.attribuerDesAvantages = "{{ path('gm_attribuer_des_avantages') }}";
	</script>
{% endif %}
{% endblock %}
