<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/custom.css') }}">
        {% endblock %}
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic|Arsenal:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
        <title>{% block titre %} {% endblock %} - Let's Role Anyway L5A</title>

		{% set favNumber = random(4) %}
		<link rel="shortcut icon" href="{{ asset('/build/images/favicons/fav-' ~ favNumber ~ '.png') }}" type="image/x-icon">
		<meta name="description" content="Légende des Cinq Anneaux feuille de personnage dynamique et dashboard maître du jeu (4ème édition).">

    </head>

    <body class="stretched side-header side-header-left push-wrapper">
        <div id="">

            {% block header %}
            <header id="header" class="no-sticky dark">
                <nav id="primary-menu">
                    <ul>
						{% block Personnage %}
							{% if samurai is defined and samurai is not null  %}
								<li class="current menu-samurai"><a href="{{ path('samurai', ({ 'id': samurai.id|default(''), '_locale': app.request.locale })) }}"><div>{{ 'Character'|trans }}</div></a></li>
									{% block sousMenuPersonnage %}{% endblock %}
                            {% endif %}
						{% endblock %}

						<!-- Notes -->
                        {% if samurai is defined and samurai is not null %}
							<li><a href="javascript:void(0)" id="ouvrir-notes-perso" data-notes-perso="{{ samurai.notesPerso }}" ><div>{{ 'Notes'|trans }}</div></a></li>
                        {% endif %}

						<!-- Autres -->
						<li class="menu-autres accordion"><a href="javascript:void(0)"><div>{{ 'Other'|trans }}</div></a></li>
						<div class="smooth-hover header">
							<ul class="sous-menu">
								<li><a href="{{ path('carte', ({'_locale': app.request.locale, 'id':app.session.get('gameId')})) }}" target="_blank"><div>{{ 'Map'|trans }}</div></a></li>
                                {% if samurai is defined and samurai is not null %}
									<li><a href="javascript:void(0)" id="ouvrir-historique-xp" data-samurai-id="{{ samurai.id }}" >
										<div>{{ 'menu.xp_history'|trans }}</div>
									</a></li>
									<!--<li><a href="{{ path('samurai_2_pdf', ({id: samurai.id, '_locale': app.request.locale})) }}" target="_blank"
										   id="convertir-pdf" data-samurai-id="{{ samurai.id }}" >
										   	<div>{{ 'menu.download_samurai'|trans }}</div>
									</a></li>-->
								{% endif %}
							</ul>
						</div>

						<!-- Magasin -->
						<li class="menu-magasin accordion"><a href="javascript:void(0)"><div>{{ 'menu.shop'|trans }}</div></a></li>
						{% block sousMenuRecherche %}
						<div class="smooth-hover header">
							<ul class="sous-menu">
								<li><a href="{{ path('recherche_competences', ({ 'id': samurai.id|default('gm'), '_locale': app.request.locale })) }}"><div>{{ 'Skills'|trans }}</div></a> </li>
								<li><a href="{{ path('recherche_armes', ({ 'id': samurai.id|default('gm'), '_locale': app.request.locale })) }}"><div>{{ 'Armoury'|trans }}</div></a> </li>
								{% if samurai is defined %}
									<li><a href="{{ path('recherche_anneaux', ({ 'id': samurai.id|default('gm'), '_locale': app.request.locale })) }}"><div>{{ 'Rings'|trans }}</div></a></li>
								{% endif %}
								{% if samurai is not defined or samurai.type != 'samurai.type.shugenja' %}
									<li><a href="{{ path('recherche_katas', ({ 'id': samurai.id|default('gm'), '_locale': app.request.locale })) }}"><div>Katas</div></a> </li>
								{% endif %}
								{% if samurai is not defined or samurai.type == 'samurai.type.shugenja' %}
									<li><a href="{{ path('recherche_sorts', ({ 'id': samurai.id|default('gm'), '_locale': app.request.locale })) }}"><div>{{ 'Spells'|trans }}</div></a> </li>
								{% endif %}
								<li><a href="{{ path('recherche_des_avantages', ({ 'id': samurai.id|default('gm'), '_locale': app.request.locale })) }}"><div>{{ 'Advantages'|trans }} & {{ 'Disadvantages'|trans }}</div></a> </li>
							</ul>
						</div>

						<!-- GameMaster -->
                        {% if gm is defined and gm is not null and gm == true %}
							<li class="menu-gm accordion"><a href="javascript:void(0)"><div>Game Master</div></a></li>
							<div class="smooth-hover header">
								<ul class="sous-menu">
									<li><a href="{{ path('master_create', ({'_locale': app.request.locale})) }}"><div>{{ 'Game'|trans }}</div></a> </li>
									<li><a href="{{ path('afficher_combat', ({'gameId':app.session.get('gameId'), '_locale': app.request.locale })) }}"><div>{{ 'menu.fight'|trans }}</div></a> </li>
									<li><a href="javascript:void(0)" class="afficher-listes" data-type="pnjs" data-game-id="{{ app.session.get('gameId')|default(5) }}"><div>Archives</div></a></li>
								</ul>
							</div>
						{% endif %}

							{% if app.user is not null %}
								{% set game_id = app.session.get('gameId')|default('') %}
							{% else %}
                                {% set game_id = 5 %}
                            {% endif %}
							<li class="combat-bouton"><a href="{{ path('afficher_combat', ({ gameId: game_id, '_locale': app.request.locale})) }}" target="_blank"><div>{{ 'menu.fight'|trans }}</div></a></li>

						{% endblock %}
                      <li><a id="toggle-boite-a-jets" href="javascript:void(0)">
                        Afficher/cacher la boîte à jets
                        </a>
                      </li>
                    </ul>
                </nav>
                <div>

                <div id="indicateur-bas-de-page">
                    {% block indicateurBasDePage %}{% endblock %}
                </div>
            </header>
            {% endblock header %}

            <div id="main-content">
                {% block mainContent %}
                    {% block boite %}{% endblock %}
                {% endblock %}
            </div>

            {% include 'default/footer.html.twig' %}
        </div>
        <div><div id="notes-perso-modal" class="modal"></div></div>
		<div>
			<div id="cadre-listes" class="modal">
				{#{% include '@L5A/Blocks/cadre-listes.html.twig' %}#}
			</div>
		</div>

		{% block chatbox %}
			<div id="chatbox">Chatbox</div>
			<div id="toggle-chatbox" class="btn" data-state="opened">Close Chatbox</div>
		{% endblock %}

		{% block boiteAJet %}
		{# Boîte à Jets #}
			<div id="boite-a-jets" class="ui-widget-content">
				<div class="preparation-jet">
					<div>
						<input id="des-lances" dir="rtl" min="1" type="number" value="2" />
						<p>G</p>
						<input id="des-gardes" min="1" type="number" value="2" />
					</div>
					<div>
						<label for="sans-competence">{{ 'roll.skillless'|trans }}</label>
						<input id="sans-competence" type="checkbox"/>
						<label for="jet-specialite">{{ 'roll.speciality'|trans }}</label>
						<input id="jet-specialite" type="checkbox"/>
					</div>
					<div>
						<button id="launch-dice">{{ 'roll.ROLL'|trans }}</button>
					</div>
				</div>

				<div class="resultat">
					<h4>{{ 'roll.results'|trans }}</h4>
					<span id="resultat-des" class="hidden toggle-des cliquable" title="{{ 'roll.see.all'|trans }}"></span>
					<span id="tous-des" class="toggle-des cliquable" title="{{ 'roll.see.kept'|trans }}"></span>
					<br/>
					<span id="resultat-total"></span>
				</div>
			</div>
		{% endblock %}

    {% if samurai is defined and samurai is not null %}<span id="id-samurai" class="hidden" data-id-samurai="{{ samurai.id }}"></span> {% endif %}

    </body>
    {% block javascripts  %}
		<script src="{{ asset('build/custom.js') }}"></script>
		<script src="{{ url('bazinga_jstranslation_js') }}"></script>
		 {#<script src="{{ asset('build/translations/*/*.js') }}"></script>#}
	{% endblock %}

	<script>
        {% if samurai is defined and samurai is not null %}
			{# ne pas créer chemin pour ne pas l'effacer si défini ailleurs #}
			var routeMajSamurai = "{{ path('maj_samurai', ({id: samurai.id})) }}";
			var route_historique_xp = "{{ path('historique_xp') }}";
			var route_convertir_pdf = "{{ path('samurai_2_pdf', ({id: samurai.id, '_locale': app.request.locale})) }}";
        {% endif %}
        var route_listes = "{{ path('gm_listes') }}";
        var route_supprimerAvantage = "{{ path('gm_supprimer_avantage') }}";
        var route_supprimerDesavantage = "{{ path('gm_supprimer_desavantage') }}";
        var route_supprimerTechnique = "{{ path('gm_supprimer_technique') }}";
        var route_attribuerEquipement = "{{ path('gm_attribuer_equipement') }}";
	</script>
</html>

{# stylesheets output="css/compiled/main.css"
    '@L5ABundle/Resources/public/css/animate.css'
    '@L5ABundle/Resources/public/css/bootstrap.css'
    '@L5ABundle/Resources/public/css/custom.css'
    '@L5ABundle/Resources/public/css/utilities.css'
    '@L5ABundle/Resources/public/css/spin.css'
    '@L5ABundle/Resources/public/css/font-icons_.css'
    '@L5ABundle/Resources/public/css/form.css'
    '@L5ABundle/Resources/public/css/real-datatables.css'
    '@L5ABundle/Resources/public/css/responsive.css'
    '@L5ABundle/Resources/public/css/jquery-ui.min.css'
    '@L5ABundle/Resources/public/css/jquery-ui.structure.min.css'
    '@L5ABundle/Resources/public/css/jquery-ui.theme.min.css'
    '@L5ABundle/Resources/public/css/toastr.min.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
 endstylesheets #}
