form {
    display: flex;
}

.l5a-form {
    /*border: 1px solid #333;*/
    /*border-bottom-color: #630b00;*/
    width: 100%;
    /*padding: 5px 10px;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.l5a-form:focus {
    /*box-shadow: 3px 2px 3px 4px rgba(0, 0, 0, 0.2);*/
    box-shadow: 1px -4px 11px 5px rgba(0, 0, 0, 0.2);
}

.form_row {
    margin-bottom: 12px;
}

.btn.save {
    width: 100%;
}
.btn.annuler {
    width: 80%;
    margin-top: 10px;
}

.form-group-1 {

}

#master .form_row {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.creation.competence input {
    width: 33%;
}

#forum-main-block form {
    display: block;
}