.psides-10 {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    min-height: 100vh;
    padding-bottom: 250px;
    position: relative;
    width: 100%;
    font-family: 'Arsenal', 'sans-serif';
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: #222;
}

a:hover {
    text-decoration: none;
    color: #630b00;
}

p {
    font-size: 15px;
    letter-spacing: 1px;
}

input {
    border: none;
    border-bottom: thin solid #777;
    /*border-left:thin solid #777;*/
}

input:focus {
    border-bottom: 2px solid #630b00;
    /*border-left:thin solid #630b00;*/
}

textarea {
	min-height: 32px !important;
}

button:not(.accordion), body a.btn {
	padding: 5px 20px;
	background-color: #630b00;
	color: #FFF;
	border-radius: 20px;
	font-weight: 300;
	letter-spacing: 2px;
}

button:not(#lauch-dice):not(.ui-dialog-titlebar-close):not('.accordion') {
    background-color: #DDD;
    color: #0c0c0c;
    border: 1px solid #630b00;
    padding: 5px 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}

button:hover, body a.btn:hover {
    background-color: #630b00 !important;
    color: #FFF !important;
}

.btn:hover {
    background-color: #222;
    color: #630b00;
}

.souligne {
    border-bottom: 1px solid #630b00;
}

.titre.principal {
    text-align: center;
    margin-bottom: 50px;
    color: #630b00;
    font-size: 40px;
}

.titre {
    margin-bottom: 30px;
    font-family: 'Rock Salt', cursive;
}


.resume strong, .titre {
    letter-spacing: 2px;
}

.resume input {
    width: 40px;
    border: none;
}

.editable:hover {
    text-decoration: underline;
    cursor: pointer;
}

.to-edit {
    display: none;
}

.mb {
	margin-bottom: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.center {
    text-align: center;
}

.p-0 {
    padding: 0;
}

.card {
    padding: 20px;
}

.card.tuto {
    margin-right: 240px;
}

.card-body {
    padding: 40px;
    box-shadow: 6px 1px 12px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100%;
}

/* Tables */
table {
    width: 100%;
}

table th {
    letter-spacing: 2px;
}

table tr:nth-child(even) {
    background-color: #DDD;
}

table input, table textarea, table select {
    background-color: transparent;
    border: none;
    width: 100%;
}

/* Accordions */
button.accordion {
    background-color: #DDD;
    border-bottom-width: 0;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    letter-spacing: 2px;
}

button.accordion.last-button {
    border-bottom-width: 1px;
}

.accordion-holder button.accordion:last-child {
    border-bottom-width: 1px;
}

.smooth-hover {
    /*background-color: white;*/
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.smooth-hover:not(.header) {
    overflow-y: scroll;
}

.side-header #header {
    height: 100vh;
    width: 150px;
    padding-top: 3%;
    background-color: #222;
    position: fixed;
    z-index: 10;
}

#header #primary-menu ul li {
    padding-left: 20px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header #primary-menu ul li a {
    color: #FFF;
    font-size: 16px;
    letter-spacing: 2px;
}

#header #primary-menu ul.sous-menu {
    margin-left: 10px;
}

#header #primary-menu ul.sous-menu li {
    height: auto;
    /*margin-top: 10px;*/
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

#header #primary-menu ul.sous-menu li a {
    font-size: 12px;
}

#primary-menu ul li > a {
    color: #FFF;
}

#indicateur-bas-de-page {
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 20px;
    color: #FFF;
}

#main-content {
    margin-left: 150px;
}

a.onglet {
	text-align: center;
	width: 100%;
	height: 30px;
	border: 1px solid #222;
	display: block;
	padding-top: 5px;
}

a.onglet:hover {
	background-color: #222;
    color: #FFF;
}

td.see-more div:not(.opened) {
    overflow: hidden;
    -webkit-transition: max-width 1.5s cubic-bezier(0, 1.05, 0, 1), max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    -moz-transition: max-width 1.5s cubic-bezier(0, 1.05, 0, 1), max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    transition: max-width 1.5s cubic-bezier(0, 1.05, 0, 1), max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    max-width: 500px;
    max-height: 20px;
    text-overflow: ellipsis;
}

.see-more div.opened {
    -webkit-transition: max-width 0.5s ease, max-height 1.5s ease;
    -moz-transition: max-width 0.5s ease, max-height 1.5s ease;
    transition: max-width 0.5s ease, max-height 1.5s ease;
    overflow: visible;
    max-height: 700px;
    max-width: 1000px;
}

.see-more {
    border: 1px solid #222;
    cursor: pointer;
    overflow: hidden;
}

.see-more i {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
    border-radius: 50%;
    width: 65px;
    height: 30px;
    font-weight: 900;
    font-size: 21px;
}

.separateur {
    margin-bottom: 50px;
	display: flex;
}

footer {
    height: 250px;
    margin-left: 150px;
    background-color: #222;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer .container {
    padding-top: 50px;
    display: flex;
}

footer .container > div {
  flex: 1 10%;
}

footer a {
    font-size: 15px;
    color: #FFF;
}

footer a:hover {
    text-shadow: 1px 0px 3px #FFF;
}

footer .version {
    color: #FFF;
    bottom: 17px;
    font-size: 10px;
}

.lien-reco {
    border: 1px solid #222;
}

.lien-reco:hover {
    box-shadow: 6px 1px 12px 4px rgba(0, 0, 0, 0.2);
}

.lien-reco .texte {
    padding-top: 30px;
}
