{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/map.css') }}">
{% endblock %}
{% block titre %}{{ 'Map'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainContent %}
    <div class="card">
        <div id="carte" class="card-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1 class="titre">{{ 'map_page.rokugan_map'|trans }}</h1>
                </div>
                <div class="col-md-6" style="text-align: right">
                    <a href="javascript:void(0)" id="editer-carte" class="onglet mt-50">{{ 'map_page.edit_journey'|trans }}</a>
                </div>
            </div>

            <div class="col-md-12">
                <canvas width="1506" height="2327.12"></canvas>
                <img src="{{ asset('build/images/carte.jpg') }}" style="width: 1506px; height: 2327.12px;" >
            </div>
        </div>
    </div>

    <div><div id="modal-holder" class="modal"></div></div>
<script>
    var enregistrer_coordonnees = "{{ path('enregistrer_coordonnees', ({'id': app.session.get('gameId')})) }}";
    var coordonnees = {{ coordonnees|json_encode|raw }};
</script>
{% endblock %}

{% block boiteAJet %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/map.js') }}"></script>
{% endblock %}