{% extends 'default/layout.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/character-creation.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block titre %}{{ 'create_samurai_page.create_samurai'|trans }}{% endblock %}

{% block mainContent %}
    <div id="creation-samurai" class="card">
        <div class="card-body">
            <h2>{{ 'create_samurai_page.new_samurai'|trans }}</h2>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col-md-3 form-group-1">
                <h3 class="souligne">{{ 'create_samurai_page.who'|trans }}</h3>
                <div class="col-md-12">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.joueur) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.clanId) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.familleId) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.type) }}
                </div>
				<input type="checkbox" id="toutes-ecoles" checked>
				<label for="toutes-ecoles">{{ 'create_samurai_page.clan_schools_only'|trans }}</label>
                <div class="col-md-12">
                    {{ form_row(form.ecoleId) }}
                </div>
                <div class="col-md-12">
                    <button id="creation-samurai-next">{{ 'Next'|trans }}</button>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-8 form-group-2">
                <h3 class="souligne">{{ 'more_details'|trans }}</h3>
				
				{# Fenêtre d'informations sur le choix effectué #}
				<div id="informations" class="col-md-12">
					
				</div>
				
				{# Plus de détails (étape 2 de la création de perso) #}
				<div id="details" class="hidden">
					<div class="col-md-4">
						{{ form_row(form.sexe) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.age) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.taille) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.cheveux) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.yeux) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.pere) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.mere) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.freresSoeurs) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.situationFamiliale) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.marieA) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.enfants) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.notes) }}
					</div>
					<div class="col-md-offset-8 col-md-4">
						{{ form_row(form.save) }}
					</div>
				</div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
	
<script>
	var chemins = {};
	chemins.afficherInformations = "{{ path('afficher_informations') }}";
</script>
{% endblock %}

{% block boiteAJet %}{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/character-creation.js') }}"></script>
{% endblock %}