{% extends 'default/layout.html.twig' %}

{% block titre %}{{ 'my_games_page.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block mainContent %}
    <div id="index" class="card">
        <div class="card-body">
			<h2 class="titre">{{ 'my_games_page.title'|trans }}</h2>
			{% for oneGame in games %}
				<div class="lien-reco row">
					<a class="partie-block" href="{{ path('partie', {'gameId': oneGame.entity.id, '_locale': app.request.locale }) }}">
						<div class="col-md-6">
							<h3 class="titre">{{ oneGame.entity.nom }}</h3>
						</div>
						<div class="col-md-3">
							<p>{{ 'my_games_page.number_players'|trans }} : {{ oneGame.nbJoueurs }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
			
			<div class="mt-50 col-md-4">
				<a class="onglet" href="{{ path('partie', {'_locale': app.request.locale}) }}">{{ 'my_games_page.create_game'|trans }}</a>
			</div>
        </div>
    </div>
	<script>
	var chemins = {};
	chemins.envoyer_mail = '{{ path('envoyer_mail') }}';
	chemins.enregistrer_mdp_partie = '{{ path('enregistrer_mdp_partie') }}';
	</script>
{% endblock %}

{% block boiteAJet %}{% endblock %}
