{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/game.css') }}">
{% endblock %}

{% block titre %}{{ game.nom|default('game_index_page.new_game'|trans) }}{% endblock %}

{% block header %}{% endblock %}

{% block mainContent %}

	<div class="card">
		<div class="card-body">
			<h2 class="titre">{{ game.nom|default('game_index_page.new_game'|trans) }}</h2>
			{% if isNew == true %}
				{{ form_start(formGame) }}
				{{ form_widget(formGame) }}
				{{ form_end(formGame) }}

			{% else %}
				{# case Gamemaster #}
            	{% if gm is defined and gm is not null and gm == true %}
            		<div class="col-md-12 mb">

            			{#<input type="text" id="nouveau-joueur-mail" class="col-md-3" name="nouveau-joueur-mail" placeholder="Veuillez rentrer le mail de votre joueur"/>#}
            			{#<button class="col-md-2" id="envoyer-mail" data-game-id="{{ app.user.gameId }}" data-gm="{{ app.user.username }}">Inviter un nouveau joueur</button>#}

            			<input type="text" id="partie-mdp" class="col-md-3" name="partie-mdp" placeholder="{{ 'game_index_page.new_password_placeholder'|trans }}" value="{{ game.motDePasse }}"/>
            			<button class="col-md-2" id="partie-mdp" data-game-id="{{ game.id }}">{{ 'game_index_page.save_password'|trans }}</button>

            		</div>
            		<p>{{ 'game_index_page.send_this_link'|trans }}: http://symfony-yivh.frb.io{{ path('rejoindre_partie', {'id': game.id, '_locale': app.request.locale}) }} {{ 'game_index_page.and_send_password'|trans }}.</p>

            		<div class="separateur"></div>
            	{% endif %}

            	<div class="col-md-12 mb-50">
            		<div class="col-md-3">
            			<a href="{{ path('create_samurai', {'_locale': app.request.locale}) }}" id="creer-samurai" class="onglet">{{ 'game_index_page.create_new_samurai'|trans }}</a>
            		</div>
            		{% if gm is defined and gm is not null and gm == true %}
            			<div class="col-md-3">
            				<a class="onglet" href="{{ path('afficher_combat', ({ 'gameId': app.user.gameId|default(1),'_locale': app.request.locale })) }}" target="_blank">{{ 'menu.fight'|trans }}</a>
            			</div>
            			<div class="col-md-3">
            				<a class="onglet" href="{{ path('master_create', {'_locale': app.request.locale}) }}" target="_blank">{{ 'menu.game_management'|trans }}</a>
            			</div>
            		{% endif %}
            	</div>


            	<h3 class="titre">{{ 'game_index_page.character_list'|trans }}: </h3>

            	<div class="liste-samurai">
            		{% for samurai in allSamurai %}
            			<a href="{{ path('samurai', { 'id': samurai.id,'_locale': app.request.locale }) }}" class="samurai-card"> <!--col-lg-offset-1 col-lg-3 col-md-4 -->

            				<div>
            					<h3>{{ samurai.nom }}</h3>
            				</div>
            				<div>
            					<p>{{ 'Player'|trans }} :
            						{% if samurai.joueur matches '/^\\d+$/' %}
            							{{ aJoueurs[samurai.joueur].username }}
            						{% else %}
            							{{ samurai.joueur }}
            						{% endif %}
            					</p>
            					<p>{{ 'Class'|trans }}: {{ samurai.type|trans|capitalize }}</p>
            					<p>{{ 'Clan'|trans }}: {{ samurai.clanName|trans({}, 'clans') }}</p>
            					<p>{{ 'School'|trans }}: {{ samurai.ecoleName|trans({}, 'schools') }}</p>
            					<p>{{ 'samurai.wounds'|trans }}: {{ samurai.blessures }}</p>
            					<p>{{ 'samurai.experience'|trans }}: {{ samurai.xpRestant }} / {{ samurai.xp }}</p>
            				</div>
            			</a>
            		{% endfor %}
            	</div>
    		</div>
    	{% endif %}

{% endblock %}

{% block boiteAJet %}{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/game.js') }}"></script>
{% endblock %}
