{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/shop.css') }}">
{% endblock %}

{% block titre %}Magasin{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block mainContent %}
    <div id="samurai-id" class="hidden">{{ samurai.id|default('gm') }}</div>
    <div id="modal-principale" class="modal"></div>

    {% if samurai is defined %}
        <script>
            routeGetXp= "{{ path('get_xp', ({ 'samuraiId': samurai.id })) }}";
        </script>
    {% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/shop.js') }}"></script>
{% endblock %}