<page>
    {% set root =  'http://localhost/l5a-dashboard/public' %}
    {#{% set root =  'http://symfony-yivh.frb.io' %}#}

    {# Style #}
    <style>
        .psides-10 {
            padding-left: 10px;
            padding-right: 10px;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        a {
            color: #222;
        }

        p {
            font-size: 15px;
            letter-spacing: 1px;
        }

        textarea {
            min-height: 32px !important;
        }

        .souligne {
            border-bottom: 1px solid #630b00;
        }

        .titre.principal {
            text-align: center;
            margin-bottom: 50px;
            color: #630b00;
            font-size: 40px;
        }

        .titre {
            margin-bottom: 30px;
        }

        .resume strong, .titre {
            letter-spacing: 2px;
        }

        .mb {
            margin-bottom: 10px;
        }

        .mb-50 {
            margin-bottom: 50px;
        }

        .mt-50 {
            margin-top: 50px;
        }
        .mt-20 {
            margin-top: 20px;
        }

        .center {
            text-align: center;
        }

        .p-0 {
            padding: 0;
        }

        .pt-50 {
            padding-top: 50px;
        }
        .pt-20 {
            padding-top: 20px;
        }

        .cell-image {
            width: 60px;
        }
        .cell-text {
            width: 170px;
        }

        #tb-competences td {
            border-bottom: 1px solid #000;
        }
        #tb-competences td.nom,#tb-competences th.nom {
            width: 100px;
        }
        #tb-competences td.small,#tb-competences th.small{
            width: 70px;
        }
        
        #combat th, .table-depth-2 th {
         	background-color: #222; 
         	color: white;
         	text-align: center;
        }
		#competences td, #combat td, .table-depth-2 td {
			border: 1px solid black;
		}

		.cell-header {
			background-color: #CCC;
		}
		
    </style>

    {# Principales informations #}
    <h1>{{ 'pdf_page.character_sheet'|trans }}</h1>
    <div id="details-principaux">
        <table class="tbl" border="0" style="margin: 0 auto;">
            <tr>
                <td><strong>{{ 'Nom'|trans }}:</strong> <span>{{ samurai.nom }}</span></td>
                <td style="width: 150px"><strong>{{ 'Rank'|trans }}: </strong><span>{{ samurai.rang }}</span></td>
                <td><strong>{{ 'samurai.honour'|trans }}: </strong><span>{{ samurai.honneur }}</span></td>
                <td><strong>{{ 'samurai.glory'|trans }}: </strong><span>{{ samurai.gloire }}</span></td>
            </tr>
            <tr>
                <td><strong>{{ 'Clan'|trans }}: </strong><span>{{ samurai.clanName|trans }}</span></td>
                <td style="width: 150px"><strong>{{ 'samurai.experience'|trans }}: </strong><span>{{ samurai.xpRestant }}</span></td>
                <td><strong>{{ 'samurai.status'|trans }}: </strong><span>{{ samurai.statut }}</span></td>
            </tr>
            <tr>
                <td><strong>{{ 'School'|trans }}: </strong><span>{{ samurai.ecoleName|trans }}</span></td>
                <td style="width: 150px"><strong>{{ 'samurai.reputation'|trans }} : </strong><span>{{ samurai.reputation }}</span></td>
                <td><strong>{{ 'samurai.taint'|trans }}: </strong><span>{{ samurai.souillure }}</span></td>
            </tr>
        </table>
        <table border="1" style="margin: 0 auto; margin-top: 50px;">
            <tr>
                <!-- Terre -->
                <td class="cell-image"><img src="{{ root }}/build/images/earth.png" width="60"></td>
                <td class="cell-text" style="width: 100px;"><p class="mt-20"><strong>{{ 'samurai.ring.earth'|trans }}: </strong><span>{{ samurai.terre }}</span></p></td>
                <td class="cell-text">
                    <div style="padding-top: 10px"><strong>{{ 'samurai.trait.constitution'|trans }}: </strong><span>{{ samurai.constitution }}</span></div><br><br>
                    <div style="padding-bottom: 10px"><strong>{{ 'samurai.trait.will'|trans }}: </strong><span>{{ samurai.volonte }}</span></div>
                </td>
                <!-- Air -->
                <td class="cell-image"><img src="{{ root }}/build/images/air.png" width="60"></td>
                <td class="cell-text" style="width: 100px;"><p class="mt-20"><strong>{{ 'samurai.ring.air'|trans }}: </strong><span>{{ samurai.air }}</span></p></td>
                <td class="cell-text">
                    <div style="padding-top: 10px"><strong>{{ 'samurai.trait.reflexes'|trans }}: </strong><span>{{ samurai.reflexes }}</span></div><br><br>
                    <div style="padding-bottom: 10px"><strong>{{ 'samurai.trait.awareness'|trans }}: </strong><span>{{ samurai.intuition }}</span></div>
                </td>
            </tr>
            <tr>
                <!-- Eau -->
                <td class="cell-image"><img src="{{ root }}/build/images/water.png" width="60"></td>
                <td class="cell-text" style="width: 100px;"><p class="mt-20"><strong>{{ 'samurai.ring.water'|trans }}: </strong><span>{{ samurai.eau }}</span></p></td>
                <td class="cell-text">
                    <div style="padding-top: 10px"><strong>{{ 'samurai.trait.strength'|trans }}: </strong><span>{{ samurai.force }}</span></div><br><br>
                    <div style="padding-bottom: 10px"><strong>{{ 'samurai.trait.perception'|trans }}: </strong><span>{{ samurai.perception }}</span></div>
                </td>
                <!-- Air -->
                <td class="cell-image"><img src="{{ root }}/build/images/fire.png" width="60"></td>
                <td class="cell-text" style="width: 100px;"><p class="mt-20"><strong>{{ 'samurai.ring.fire'|trans }}: </strong><span>{{ samurai.feu }}</span></p></td>
                <td class="cell-text">
                    <div style="padding-top: 10px"><strong>{{ 'samurai.trait.agility'|trans }}: </strong><span>{{ samurai.agilite }}</span></div><br><br>
                    <div style="padding-bottom: 10px"><strong>{{ 'samurai.trait.intelligence'|trans }}: </strong><span>{{ samurai.intelligence }}</span></div>
                </td>
            </tr>
            <tr>
                <!-- Vide -->
                <td class="cell-image"><img src="{{ root }}/build/images/void.png" width="60"></td>
                <td class="cell-text" style="width: 100px;"><p class="mt-20"><strong>{{ 'samurai.ring.void'|trans }}: </strong><span>{{ samurai.vide }}</span></p></td>
            </tr>
        </table>

    </div>

    {# Compétences #}
    <div>
    	<table width=900>
    		<tr>
    			<td>
    				<h3 class="titre">{{ 'Skills'|trans }}</h3>
    				<table id="competences" width=500 border=0>
    					<thead>
			                <tr>
			                    <th class="nom">{{ 'Nom'|trans }}</th>
			                    <th>{{ 'Rank'|trans }}</th>
			                    <th class="small">{{ 'skill.trait'|trans }}</th>
			                    <th class="small">{{ 'Roll'|trans }}</th>
			                    <th>{{ 'skill.specialisations'|trans }}</th>
			                </tr>
			            </thead>
			            <tbody>
			                {% for competence in competences %}
			                    {% set trait = competence.competence.trait|trans %}
			                    <tr>
			                        <td class="nom" width="150">{{ competence.competence.nom|trans({}, 'skills') }}</td>
			                        <td>{{ competence.rang }}</td>
			                        <td width="75">{{ trait|trans }}</td>
			                        <td width="50">{{ competence.jet }}</td>
			                        <td>
			                            {% set aSpecialites = competence.specialites|split('/') %}
			                            {{ aSpecialites|first }}
			                            {% for oneSpecialite in aSpecialites[1:] %}
			                                {{ oneSpecialite|trans({}, 'skills') }}
			                            {% endfor %}
			                        </td>
			                    </tr>
			                {% endfor %}
			            </tbody>
    				</table>
				</td>
        {# Combat #}
        		<td id="combat">
        			<h3 class="titre">{{ 'menu.fight'|trans }}</h3>
		            <table width=400 border=0 >
		                <thead>
		                    <tr>
		                        <th colspan="2" width=250>{{'Initiative'|trans }}</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td>{{ 'samurai.reputation_rank'|trans }}/{{ 'samurai.trait.reflexes'|trans }}</td>
		                        <td>{{ initiative }}</td>
		                    </tr>
		                    <tr>
		                    	<td>{{ 'Modifiers'|trans }}</td>
		                    	<td>{{ initiative_bonus }}</td>
	                    	</tr>
	                    	<tr>
	                    		<td>{{ 'Total'|trans }}</td>
	                    		<td>{{ initiative_total }}</td>
                    		</tr>
		                </tbody>
		            </table>
		            <table width=400 border=0>
		                <thead>
		                    <tr>
		                        <th colspan="2" width=250>{{ 'pdf_page.armor_nd'|trans }}</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td>{{ 'pdf_page.armor_nd'|trans }}</td>
		                        <td>{{ nd }}</td>
		                    </tr>
		                    <tr>
		                    	<td>{{ 'Modifiers'|trans }}</td>
		                    	<td>{{ nd_bonus }}</td>
	                    	</tr>
	                    	<tr>
	                    		<td>{{ 'Total'|trans }}</td>
	                    		<td>{{ nd_total }}</td>
                    		</tr>
		                </tbody>
		            </table>
		            <table width=400 border=0>
		                <thead>
		                    <tr>
		                        <th colspan="2" width=250>{{ 'Armor'|trans }}</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td>{{ 'pdf_page.armor_nd'|trans }}</td>
		                        <td>{{ armure_nd }}</td>
		                    </tr>
		                    <tr>
		                    	<td>{{ 'armure.reduction'|trans }}</td>
		                    	<td>{{ armure_reduction }}</td>
	                    	</tr>
		                </tbody>
		            </table>
		            <table width=400 border=0>
		                <thead>
		                    <tr>
		                        <th colspan="2" width=250>{{ 'samurai.wounds'|trans }}</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td>{{ 'wounds_rank.indemn'|trans }}</td>
		                        <td>{{ rb_1 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.scratched'|trans }}</td>
		                        <td>{{ rb_2 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.slightly_wounded'|trans }}</td>
		                        <td>{{ rb_3 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.wounded'|trans }}</td>
		                        <td>{{ rb_4 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.gravely_wounded'|trans }}</td>
		                        <td>{{ rb_5 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.disabled'|trans }}</td>
		                        <td>{{ rb_6 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.exhausted'|trans }}</td>
		                        <td>{{ rb_7 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'wounds_rank.out'|trans }}</td>
		                        <td>{{ rb_8 }}</td>
		                    </tr>
		                    <tr>
		                        <td>{{ 'samurai.current_wounds'|trans }}</td>
								<td><strong>{{ blessures }}</strong></td>
		                    </tr>
		                </tbody>
		            </table>
		            <table width=400 border=0>
		                <thead>
		                    <tr>
		                        <th colspan="2" width=250>Récupération</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td>{{ 'samurai.recuperation'|trans }}</td>
		                        <td>{{ recuperation }}</td>
		                    </tr>
		                    <tr>
		                    	<td>{{ 'Modifiers'|trans }}</td>
		                    	<td>{{ recuperation_bonus }}</td>
	                    	</tr>
	                    	<tr>
	                    		<td>{{'Total'|trans }}</td>
	                    		<td>{{ recuperation_total }}</td>
                    		</tr>
		                </tbody>
		            </table>
	            </td>
            </tr>
        </table>
    </div>
	
	{# Armes #}
	<div>
		<h3>{{ 'weapons'|trans }}</h3>
		<table>
			<tr>
				{% for oneArme in armes|slice(0,3) %}
					<td>
						<table class="table-depth-2" cellpadding="10" width=100>
							<thead>
								<tr>
									<th colspan="1">{{ oneArme.armePerso.nom }}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Type : {{ oneArme.armeGenerique.type|trans }}</td>
								</tr>
								<tr>
									<td>Mots clés : {{ oneArme.armeGenerique.motsCles|trans }}</td>
								</tr>
								<tr>
									<td>{{ 'arme.vd'|trans }}: {{ oneArme.armeGenerique.vd }}</td>
								</tr>								
								<tr>
									<td width=200>{{ 'Notes'|trans }}: {{ oneArme.armeGenerique.note|trans }} {{ oneArme.armePerso.notes }}</td>
								</tr>
							</tbody>
						</table>
					</td>
				{% endfor %}
				{% for oneArme in armes|slice(4,6) %}
					<td>
						<table class="table-depth-2" cellpadding="10" width=100>
							<thead>
								<tr>
									<th colspan="1">{{ oneArme.armePerso.nom }}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Type : {{ oneArme.armeGenerique.type|trans }}</td>
								</tr>
								<tr>
									<td>Mots clés : {{ oneArme.armeGenerique.motsCles|trans }}</td>
								</tr>
								<tr>
									<td>VD : {{ oneArme.armeGenerique.vd }}</td>
								</tr>								
								<tr>
									<td width=200>Notes : {{ oneArme.armeGenerique.note|trans }} {{ oneArme.armePerso.notes }}</td>
								</tr>
							</tbody>
						</table>
					</td>
				{% endfor %}
			</tr>
		</table>
	</div>

	<table>
		<tr>
			{# Techniques #}
			<td>
				<h3>{{ 'Techniques'|trans }}</h3>
				<table width=250 border=1 class="table-depth-2">
					<thead>
						<tr>
							<th width=200>{{ 'Nom'|trans }}</th>
							<th width=50>{{ 'Rank'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for technique in techniques.usedTechniques %}
							{% if technique is not null %}
								{% if samurai.rang >= technique.rangMinimum %}
									<tr>
										<td width=200>{{ technique.nom|trans({}, 'techniques')|default('') }}</td>
										<td width=50>{{ technique.rangMinimum|default('') }}</td>
									</tr>
								{% endif %}
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</td>
		
			{# Kata / Kiho #}
			<td>
				{% if samurai.type|trans|first|lower != 's' and samurai.type|trans|first|lower != 'm' %}
					<h3>Katas</h3>
					<table width=300 border=1 class="table-depth-2">
						<thead>
							<tr>
								<th>{{ 'Nom'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for oneKata in katas %}
								<tr>
									<td>{{ oneKata.nom|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					{#
					<h3>Kihos</h3>
					<table>
						<thead>
							<tr>
								<td>{{ 'Nom'|trans }}</td>
							</tr>
						</thead>
						<tbody>
							{% for oneKiho in kihos %}
								<tr>
									<td>{{ oneKiho.nom|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					 #}
				{% if samurai.type|trans|first|lower == 's' %}
					<h3>Sorts</h3>
					<table width=300 border=1 class="table-depth-2">
						<thead>
							<tr>
								<th width="150">{{ 'Nom'|trans }}</th>
								<th width="50">{{ 'Rank'|trans }}</th>
								<th width="100">{{ 'Ring' }}</th>
							</tr>
						</thead>
						<tbody>
							{% for oneSort in sorts %}
								<tr>
									<td>{{ oneSort.nom|trans }}</td>
									<td>{{ oneSort.maitrise }}</td>
									<td>{{ oneSort.anneau|trans }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>				
				{% endif %}
			{% endif %}
			</td>
		</tr>
	</table>

    {# Équipement et DésAvantages #}
	<table>
		<tr>
			<td>
				<h3>{{ 'Equipement'|trans }}</h3>
				<table class="table-depth-2" border="1">
					<thead>
					<tr>
						<th width=250>{{ 'Equipement'|trans }}</th>
					</tr>
					</thead>
					<tbody>
                    {% for oneEquipement in equipement %}
						<tr>
							<td>{{ oneEquipement.nom|trans }}</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</td>

			<td>
				{% if avantages is not empty %}
					<h3>{{ 'Advantages'|trans }}</h3>
					<table class="table-depth-2" border="1" width="150">
						<thead>
							<tr>
								<th width=100>{{ 'Nom'|trans }}</th>
								<th width=50>{{ 'Points'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for oneAvantage in avantages %}
								<tr>
									<td width=100>{{ oneAvantage.vanilla.nom|trans({}, 'advantages') }}</td>
									<td width=50>{{ oneAvantage.vanilla.valeur }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</td>

			<td>
                {% if desavantages is not empty %}
					<h3>{{ 'Disadvantages'|trans }}</h3>
					<table class="table-depth-2" border="1" width="150">
						<thead>
							<tr>
								<th width=100>{{ 'Nom'|trans }}</th>
								<th width=50>{{ 'Points'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for oneDesavantage in desavantages %}
								<tr>
									<td width=100>{{ oneDesavantage.vanilla.nom|trans({}, 'disadvantages') }}</td>
									<td width=50>{{ oneDesavantage.vanilla.valeur }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
                {% endif %}
			</td>
		</tr>
	</table>

    {# Campagne #}
	<h3>{{ 'Campaign'|trans }}</h3>
	<table>
		<tr>
			<td>
				<table class="table-depth-2" border="1">
					<thead>
					<tr>
						<th colspan="4" width=250>{{ 'personnal_information'|trans }}</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td width=50 class="cell-header">{{ 'Sex'|trans }}</td>
						<td width=50>{{ samurai.sexe }}</td>
						<td width=50 class="cell-header">{{ 'Age'|trans }}</td>
						<td width=50>{{ samurai.age }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Hair'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.cheveux }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Height'|trans }}</td>
						<td width=50>{{ samurai.taille }}</td>
						<td width=50 class="cell-header">{{ 'Eyes'|trans }}</td>
						<td width=50>{{ samurai.yeux }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Father'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.pere }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Mother'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.mere }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'BrothersSisters'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.freresSoeurs }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'family_situation'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.situationFamiliale }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Spouse'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.marieA }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Children'|trans }}</td>
						<td width=150 colspan="3">{{ samurai.enfants }}</td>
					</tr>
					<tr>
						<td width=50 class="cell-header">{{ 'Notes'|trans }}</td>
						<td width=200 colspan="3" style="word-wrap:break-word;">{{ samurai.notes }}</td>
					</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table class="table-depth-2" border="1">
					<thead>
						<tr>
							<th width=250 colspan="2">{{ 'notes_campagne.notes_campagne'|trans }}</th>
						</tr>
						<tr>
							<th width=150>{{ 'Nom'|trans }}</th>
							<th width=100>{{ 'character.relationship'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% if personnages[0] is not empty %}
							{% for onePersonnage in personnages %}
								<tr>
									<td width=150>{{ onePersonnage.nom }}</td>
									<td width=100>{{ onePersonnage.rapport }}</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</td>
		</tr>
	</table>

	<table width=300 border="1">
		<thead>
			<tr>
				<th>{{ 'notes_campagne.notes_campagne'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ notesCampagne.objectifs|default('') }}</td>
			</tr>
		</tbody>
	</table>
</page>