{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/character-sheet.css') }}"/>
{% endblock %}

{% block sousMenuPersonnage %}
    <ul class="sous-menu">
        <li><a href="#details-principaux">{{ 'samurai_page.stats'|trans }}</a> </li>
        <li><a href="#competences">{{ 'Skills'|trans }}</a> </li>
        <li><a href="#armes-et-combat">{{ 'samurai_page.weapons_n_fight'|trans }}</a> </li>
        <li><a href="#avantages-et-techniques">{{ 'samurai_page.adv_n_tech'|trans }}</a> </li>
        <li><a href="#details-et-equipement">{{ 'samurai_page.details_n_equipement'|trans }}</a> </li>
        <li><a href="#notes-campagne">{{ 'notes_campagne.notes_campagne'|trans }}</a> </li>
    </ul>
{% endblock %}

{% block titre %}{{ samurai.nom }}{% endblock %}

{% block mainContent %}

{% set kenjutsu = 0 %}
{# Principales informations #}
<div id="details-principaux" class="card" data-game="{{ game_id }}">
    <div class="card-body">
        <div class="col-xs-12">
            <div class="col-xs-offset-4 col-xs-4 col-md-1 col-md-offset-4">
                <img src="{{ asset('build/images/mon/'~mon) }}" style="width:100%;">
            </div>
            <div class="col-xs-12 col-md-3">
                <h2 class="titre principal">{{ samurai.nom }}</h2>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5">
            <div class="block-anneaux">

                <div class="anneau terre">
                    <div class="col-xs-8 traits">
                        <div class="col-xs-12">
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.constitution'|trans }}</a></div>
                            <div id="constitution" class="cercle col-xs-3 valeur">{{ samurai.constitution }}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.will'|trans }}</a></div>
                            <div id="volonte" class="cercle col-xs-3 valeur">{{ samurai.volonte }}</div>
                        </div>
                    </div>
                    <div class="col-xs-4 anneau-image">
                        <h4><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.ring.earth'|trans }}</a></h4>
                        <img src="{{ asset('build/images/earth.png') }}" width="60"/>
                        <div id="terre" class="cercle valeur">{{ samurai.terre }}</div>
                    </div>
                </div>

                <div class="anneau air">
                    <div class="col-xs-5 anneau-image">
                        <h4><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.ring.air'|trans }}</a></h4>
                        <img src="{{ asset('build/images/air.png') }}" width="60"/>
                        <div id="air" class="cercle valeur">{{ samurai.air }}</div>
                    </div>
                    <div class="col-xs-7 traits">
                        <div class="col-xs-12">
                            <div id="reflexes" class="cercle col-xs-3 valeur">{{ samurai.reflexes }}</div>
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.reflexes'|trans }}</a></div>
                        </div>
                        <div class="col-xs-12">
                            <div id="intuition" class="cercle col-xs-3 valeur">{{ samurai.intuition }}</div>
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.awareness'|trans }}</a></div>
                        </div>
                    </div>
                </div>

                <div class="anneau eau">
                    <div class="col-xs-8 traits">
                        <div class="col-xs-12">
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.strength'|trans }}</a></div>
                            <div id="force" class="cercle col-xs-3 valeur">{{ samurai.force }}</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.perception'|trans }}</a></div>
                            <div id="perception" class="cercle col-xs-3 valeur">{{ samurai.perception }}</div>
                        </div>
                    </div>
                    <div class="col-xs-4 anneau-image">
                        <div id="eau" class="cercle valeur">{{ samurai.eau }}</div>
                        <img src="{{ asset('build/images/water.png') }}" width="60"/>
                        <h4><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.ring.water'|trans }}</a></h4>
                    </div>
                </div>

                <div class="anneau feu">
                    <div class="col-xs-5 anneau-image">
                        <div id="feu" class="cercle valeur">{{ samurai.feu }}</div>
                        <img src="{{ asset('build/images/fire.png') }}" width="60"/>
                        <h4><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.ring.fire'|trans }}</a></h4>
                    </div>
                    <div class="col-xs-7 traits">
                        <div class="col-xs-12">
                            <div id="agilite" class="cercle col-xs-3 valeur">{{ samurai.agilite }}</div>
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.agility'|trans }}</a></div>
                        </div>
                        <div class="col-xs-12">
                            <div id="intelligence" class="cercle col-xs-3 valeur">{{ samurai.intelligence }}</div>
                            <div class="col-xs-9 legende"><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.trait.intelligence'|trans }}</a></div>
                        </div>
                    </div>
                </div>

                <div class="anneau vide">
                    <div class="col-xs-offset-4 col-xs-4 anneau-image">
                        <div id="vide" class="cercle valeur">{{ samurai.vide }}</div>
                        <img src="{{ asset('build/images/void.png') }}" width="60"/>
                        <h4><a href="#" class="bouton-preparation-lancer trait cliquable">{{ 'samurai.ring.void'|trans }}</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-offset-1 col-lg-6 resume">
            <div class="col-xs-12">
                <div class="col-xs-4"><strong>{{ 'Clan'|trans }}: </strong>{{ samurai.clanName|trans({}, 'clans') }}</div>
                <div class="col-xs-8"><strong>{{ 'School'|trans }}: </strong>{{ samurai.ecoleName|trans({}, 'schools') }}</div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4"><strong>{{ 'Rank'|trans }}: </strong><span id="rang">{{ samurai.rang }}</span></div>
                <div class="col-xs-4"><strong>{{ 'samurai.reputation'|trans }}: </strong><span id="reputation">{{ samurai.reputation }}</span></div>
                <div class="col-xs-4"><strong>{{ 'samurai.statut'|trans }}: </strong><input id="statut" value="{{ samurai.statut }}" type="number" class="edit-samurai" data-champ="Statut" min="0"/></div>
            </div>
            <div id="honneur-gloire-et-souillure" class="col-xs-12">
                {% include 'blocks/l5a/_honneur_gloire_et_souillure.html.twig' %}
            </div>
            <div class="col-xs-12">
                <div class="col-xs-offset-4 col-xs-5 xp">
                    <strong>{{ 'samurai.experience'|trans }}: </strong><span id="xp-restant">{{ samurai.xpRestant }}</span> / <span id="xp">{{ samurai.xp }}</span><br/>
                    <div id="argent">
                        <p><strong>{{ 'Money'|trans }}: </strong></p>
                        <p>
                        <p><input id="koku" class="maj-monnaie" name="koku" value="{{ samurai.koku }}" type="number" min="0"><label for="koku"> koku</label></p>
                        <p><input id="bu" class="maj-monnaie" name="bu" value="{{ samurai.bu }}" type="number" min="0"><label for="bu"> bu</label></p>
                        <p><input id="zeni" class="maj-monnaie" name="zeni" value="{{ samurai.zeni }}" type="number" min="0"><label for="zeni"> zeni</label></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Compétences #}
<div id="competences" class="card">
    <div class="card-body">

        <h3 class="titre">{{ 'Skills'|trans }}</h3>

        <label for="toggle-vues-competences">{{ 'samurai_page.display_detailed'|trans }}</label>
        <input type="checkbox" id="toggle-vues-competences" class="toggle-vues" data-id="competences">

        {# Vue détaillée #}
        {% include 'blocks/l5a/_competences_vue_detaillee.html.twig' %}

        <div class="col-md-12 vue-simplifiee">
            <div class="colonnes-holder">
                <div class="colonne-japonais">
                    <h3 class="titre format-japonais">Bugei</h3>
                </div>
                <div class="smooth-hover-japonais">
                    {% for competence in competences if competence.competence.type == 'Bugei' %}
                        {% set aLancer = competence.jet|split('G') %}
                        {% set trait = competence.competence.trait|trans %}
                            <div class="box-competence">
                              <h3>{{ competence.competence.nom|trans({}, 'skills') }}</h3>
                              <div>
                                  <span>{{ 'Rank'|trans }}
                                      <span id="{{ competence.competence.nom|trans({}, 'skills')|replace({' ': '-'}) }}">
                                          {{ competence.rang }}
                                      </span>
                                  </span><br/>
                                  <span>{{ 'skill.trait'|trans }}: {{ trait }}</span><br/>
                                  <span>{{ 'skill.specialisations'|trans }}: {{ competence.specialites|trans({}, 'skills') }}</span><br/>
                                  {{ 'Roll'|trans }}: <span {% if competence.jet|first in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                                      title="{{ 'title.skill_roll'|trans({'rank': competence.rang, 'trait': trait,
                                          'roll': aLancer[0], 'keep': aLancer[1] }) }}" {% endif %} class="jet">{{ competence.jet }}</span><br/>
                                  <p><button class="bouton-preparation-lancer competence">{{ 'Prepare'|trans }}</button></p>
                              </div>
                          </div>
                    {% endfor %}
                </div>

                <div class="colonne-japonais">
                    <h3 class="titre format-japonais">{{ 'skill.type.low'|trans }}</h3>
                </div>
                <div class="smooth-hover-japonais">
                    {% for competence in competences if competence.competence.type == 'skill.type.low' %}
                        {% set aLancer = competence.jet|split('G') %}
                        {% set trait = competence.competence.trait|trans %}
                            <div class="box-competence">
                              <h3>{{ competence.competence.nom|trans({}, 'skills') }}</h3>
                              <div>
                                <span>{{ 'Rank'|trans }}:
                                    <span id="{{ competence.competence.nom|trans({}, 'skills')|replace({' ': '-'}) }}">
                                        {{ competence.rang }}
                                    </span>
                                </span><br/>
                                <span>{{ 'skill.trait'|trans }}: {{ trait }}</span><br/>
                                <span>{{ 'skill.specialisations'|trans }}: {{ competence.specialites|trans({}, 'skills') }}</span><br/>
                                {{ 'Roll'|trans }}: <span {% if competence.jet|first in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                                    title="{{ 'title.skill_roll'|trans({'rank': competence.rang, 'trait': trait,
                                        'roll': aLancer[0], 'keep': aLancer[1] }) }}" {% endif %} class="jet">{{ competence.jet }}</span><br/>
                                <p><button class="bouton-preparation-lancer competence">{{ 'Prepare'|trans }}</button></p>
                              </div>
                          </div>
                    {% endfor %}
                </div>

                <div class="colonne-japonais">
                    <h3 class="titre format-japonais">{{ 'skill.type.merchant'|trans }}</h3>
                </div>
                <div class="smooth-hover-japonais">
                    {% for competence in competences if competence.competence.type == 'skill.type.merchant' %}
                        {% set aLancer = competence.jet|split('G') %}
                        {% set trait = competence.competence.trait|trans %}
                           <div class="box-competence">
                              <h3>{{ competence.competence.nom|trans({}, 'skills') }}</h3>
                              <div>
                                  <span>{{ 'Rank'|trans }}:
                                      <span id="{{ competence.competence.nom|trans({}, 'skills')|replace({' ': '-'}) }}">
                                          {{ competence.rang }}
                                      </span>
                                  </span><br/>
                                  <span>{{ 'skill.trait'|trans }}: {{ trait }}</span><br/>
                                  <span>{{ 'skill.specialisations'|trans }}: {{ competence.specialites|trans({}, 'skills') }}</span><br/>
                                  {{ 'Roll'|trans }}: <span {% if competence.jet|first in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                                      title="{{ 'title.skill_roll'|trans({'rank': competence.rang, 'trait': trait,
                                          'roll': aLancer[0], 'keep': aLancer[1] }) }}" {% endif %} class="jet">{{ competence.jet }}</span><br/>
                                  <p><button class="bouton-preparation-lancer competence">{{ 'Prepare'|trans }}</button></p>
                              </div>
                          </div>
                    {% endfor %}
                </div>

                <div class="colonne-japonais active defaut">
                    <h3 class="titre format-japonais">{{ 'skill.type.noble'|trans }}</h3>
                </div>
                <div class="smooth-hover-japonais">
                    {% for competence in competences if competence.competence.type == 'skill.type.noble' %}
                        {% set aLancer = competence.jet|split('G') %}
                        {% set trait = competence.competence.trait|trans %}
                           <div class="box-competence">
                              <h3>{{ competence.competence.nom|trans({}, 'skills') }}</h3>
                              <div>
                                  <span>{{ 'Rank'|trans }}:
                                      <span id="{{ competence.competence.nom|trans({}, 'skills')|replace({' ': '-'}) }}">
                                          {{ competence.rang }}
                                      </span>
                                  </span><br/>
                                  <span>{{ 'skill.trait'|trans }}: {{ trait }}</span><br/>
                                  <span>{{ 'skill.specialisations'|trans }}: {{ competence.specialites|trans({}, 'skills') }}</span><br/>
                                  {{ 'Roll'|trans }}: <span {% if competence.jet|first in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                                      title="{{ 'title.skill_roll'|trans({'rank': competence.rang, 'trait': trait,
                                          'roll': aLancer[0], 'keep': aLancer[1] }) }}" {% endif %} class="jet">{{ competence.jet }}</span><br/>
                                  <p><button class="bouton-preparation-lancer competence">{{ 'Prepare'|trans }}</button></p>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

{# Armes et combat #}
<div class="card" id="armes-et-combat">
    <div class="card-body">
        <div class="col-md-12">
            <div class="col-md-8">
                <div id="armes">
                    <h3 class="titre">{{ 'weapons'|trans }}</h3>
                    {% for arme in armes %}
                        <div id="arme-{{ arme.armePerso.id }}" class="card arme col-sm-12 col-md-6 col-lg-6" data-id="{{ arme.armePerso.id }}">
                            <div class="card-body">
                                <div>
                                    <h4 class="editable nom cliquable">{{ arme.armePerso.nom }}</h4>
                                    <div class="to-edit"><input type="text" value="{{ arme.armePerso.nom }}" data-type="arme-nom"/></div>
                                </div>
                                <table>
                                    <tr>
                                        <td>{{ 'Type'|trans }}</td>
                                        <td class="type">{{ arme.armeGenerique.type|trans }}</td>
                                    </tr>
                                    {% if arme.armeGenerique.type|trans == 'Arc' %}
                                        <tr>
                                            <td>{{ 'arme.force'|trans }}</td>
                                            <td class="arme-force">{{ arme.armeGenerique.force }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Reach'|trans }}</td>
                                            <td class="portee" data-filtre="{{ arme.armePerso.portee }}">{{ arme.armeGenerique.portee }}</td>
											<div class="to-edit">
												<input type="text" value="{{arme.armePerso.portee }}" data-type="arme-portee">
											</div>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Arrows' }}</td>
                                            <td><select class="choix-fleches">
                                                    {% for fleche in fleches %}
                                                    <option value="{{ fleche.fleche.id }}" data-vd="{{ fleche.fleche.degats }}" data-notes="{{ fleche.fleche.notes|trans }}" data-qte="{{ fleche.qte }}" data-id="{{ fleche.fleche.id }}">{{ fleche.fleche.nom|trans }}</option>
                                                    {% endfor %}
                                                    <option value="" data-vd="0G0" data-notes="" data-qte="0" data-id="">{{ 'samurai_page.no_arrow'|trans }}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'samurai_page.remaining_qte'|trans }}</td>
                                            <td><input class="qte-restante" type="number" value="0" min="0" data-id=""/></td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'attack_roll'|trans }} </td>
                                            <td class="jet editable cliquable" data-competence="" data-jet-generique="" data-filtre="{{ arme.armePerso.filtreAttaque }}"
                                            title="{{ 'title.bow_roll'|trans({'reflexes': samurai.reflexes}) }}"></td>
                                            <td class="to-edit"><p>{{ 'Calc'|trans }}: </p><input class="filtre-lancer" type="number" value="0" data-type="arme-jet" dir="rtl"/> G <input class="filtre-garder" type="number" value="0" data-type="arme-jet"/></td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Damage'|trans }} </td>
                                            <td class="jet-degats editable cliquable" data-vd="0G0" data-filtre="{{ arme.armePerso.filtreDegats }}"
                                            title="{{ 'title.bow_damage_roll'|trans({'force': arme.armeGenerique.force}) }}"></td>
                                            <td class="to-edit calque-degats"><p>{{ 'Calc'|trans }}: </p><input class="filtre-lancer" type="number" value="0" data-type="arme-degats"
                                                       data-type-arme="arc" dir="rtl"/> G <input class="filtre-garder" type="number" value="0" data-type="arme-degats" data-type-arme="arc"/></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>{{ 'attack_roll'|trans }}</td>
                                            <td class="jet editable cliquable" data-competence="{{ kenjutsu }}" data-jet-generique="" data-filtre="{{ arme.armePerso.filtreAttaque }}"
                                            title="{{ 'title.attack_roll'|trans({'agilite': samurai.agilite}) }}"></td>
                                            <td class="to-edit"><p>{{ 'Calc'|trans }}: </p><input class="filtre-lancer" type="number" value="0" data-type="arme-jet"
                                                               dir="rtl"/> G <input class="filtre-garder" type="number" value="0" data-type="arme-jet"/></td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Damage'|trans }} </td>
                                            <td class="jet-degats editable cliquable" data-vd="{{ arme.armeGenerique.vd }}" data-degats-generique="" data-filtre="{{ arme.armePerso.filtreDegats }}"
                                                title="{{ 'title.damage_roll'|trans({'force': samurai.force, 'vd': arme.armeGenerique.vd}) }}"></td>
                                            <td class="to-edit calque-degats">
                                                <p>{{ 'Calc'|trans }}: </p>
                                                <input class="filtre-lancer" type="number" value="0" data-type="arme-degats"
                                                               dir="rtl"/>
                                                G
                                                <input class="filtre-garder" type="number" value="0" data-type="arme-degats"/>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>{{ 'Keywords'|trans }} </td>
                                        <td class="mots-cles">{{ arme.armeGenerique.motsCles|trans({}, 'weapons') }}</td>
                                    </tr>
                                        {# bonus #}
                                    <tr>
                                        <td height="20">{{ 'Notes'|trans }} </td>
                                        <td class="notes editable cliquable" data-notes-generiques="{{ arme.armeGenerique.note|trans({}, 'weapons') }}">
                                            <div>
                                                {{ arme.armeGenerique.note|trans({}, 'weapons')|raw }}<br/>
                                                {{ arme.armePerso.notes }}
                                            </div>
                                        </td>
                                        <td height="20" class="to-edit"><textarea class="" data-type="arme-notes">{{ arme.armePerso.notes }}</textarea></td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'Actions'|trans }}</td>
                                        <td>
                                            <button class="bouton-preparation-lancer attaque">{{ 'samurai_page.prepare_attack'|trans }}</button>
                                            <button class="bouton-preparation-lancer degats">{{ 'samurai_page.prepare_damage'|trans }}</button>
                                            <button class="supprimer-arme" data-id="{{ arme.armePerso.id }}">{{ 'Delete'|trans }}</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# Katas #}
				{% if samurai.type|trans != 'Shugenja' %}
                <div id="katas">
                    <h3 class="titre">Katas</h3>
                    <table id="katas-table" class="card kata col-md-12">
                        <thead>
                            <tr>
                                <th>{{ 'Nom'|trans }}</th>
                                <th>{{ 'skill.effect'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for oneKata in katas %}
                            <tr>
                                <td>{{ oneKata.nom|trans }}</td>
                                <td>{{ oneKata.effet|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
				{% endif %}

				{# Sorts #}
				{% if samurai.type|trans == 'Shugenja' %}
					<div id="sorts">
						<h3 class="titre">{{ 'Spells'|trans }}</h3>

						<div class="col-md-12">
							<h4>{{ 'samurai_page.universal_spells'|trans }}</h4>
							{% for sort in sorts if sort.anneau|trans == 'Tous' %}
							<div class="sort-appris col-md-3" data-nom="{{ sort.nom|trans({}, 'spells') }}"
                                 data-anneau="{{ sort.anneau|trans({}, 'spells') }}" data-maitrise="{{ sort.maitrise }}"
                                 data-mots-cles="{{ sort.motsCles|trans({}, 'spells') }}"
                                 data-portee="{{ sort.portee|trans({}, 'spells') }}"
                                 data-zone-effet="{{ sort.zoneEffet|trans({}, 'spells') }}"
                                 data-duree="{{ sort.duree|trans({}, 'spells') }}"
                                 data-augm="{{ sort.augmentations|trans({}, 'spells') }}"
                                 data-description="{{ sort.description|trans({}, 'spells') }}"
                                 data-anneau-samurai="aucun" data-rang-samurai="{{ samurai.rang }}">
								<h5>{{ sort.nom|trans({}, 'spells') }}</h5>
							</div>
							{% endfor %}
						</div>
						<div class="col-md-12">
							<div class="col-md-12 label-emplacements">
								<h4>{{ 'earth_spells'|trans }}</h4>
								({{ 'samurai_page.remaining_slots'|trans }}: <input class="emplacements-sorts"
                                  name="terre-restants" id="terre-restants" value="{{ samurai.terreRestants }}" min="0" max="{{ samurai.terre }}" type="number"/>)
							</div>
							{% for sort in sorts if sort.anneau|trans == 'Terre' %}
							<div class="sort-appris col-md-3" data-nom="{{ sort.nom|trans({}, 'spells') }}"
                                 data-anneau="{{ sort.anneau|trans({}, 'spells') }}"
                                 data-maitrise="{{ sort.maitrise }}"
                                 data-mots-cles="{{ sort.motsCles|trans({}, 'spells') }}"
                                 data-portee="{{ sort.portee|trans({}, 'spells') }}"
                                 data-zone-effet="{{ sort.zoneEffet|trans({}, 'spells') }}"
                                 data-duree="{{ sort.duree|trans({}, 'spells') }}"
                                 data-augm="{{ sort.augmentations|trans({}, 'spells') }}"
                                 data-description="{{ sort.description|trans({}, 'spells') }}"
                                 data-anneau-samurai="{{ samurai.terre }}" data-rang-samurai="{{ samurai.rang }}">
								<h5>{{ sort.nom|trans({}, 'spells') }}</h5>
							</div>
							{% endfor %}
						</div>
						<div class="col-md-12">
							<div class="col-md-12 label-emplacements">
								<h4>{{ 'air_spells'|trans }}</h4>({{ 'samurai_page.remaining_slots'|trans }}:
                                <input class="emplacements-sorts" name="air-restants" id="air-restants" value="{{ samurai.airRestants }}" min="0" max="{{ samurai.air }}" type="number"/>)
							</div>
							{% for sort in sorts if sort.anneau|trans == 'Air' %}
							<div class="sort-appris col-md-3" data-nom="{{ sort.nom|trans({}, 'spells') }}"
                                 data-anneau="{{ sort.anneau|trans({}, 'spells') }}"
                                 data-maitrise="{{ sort.maitrise }}"
                                 data-mots-cles="{{ sort.motsCles|trans({}, 'spells') }}"
                                 data-portee="{{ sort.portee|trans({}, 'spells') }}"
                                 data-zone-effet="{{ sort.zoneEffet|trans({}, 'spells') }}"
                                 data-duree="{{ sort.duree|trans({}, 'spells') }}"
                                 data-augm="{{ sort.augmentations|trans({}, 'spells') }}"
                                 data-description="{{ sort.description|trans({}, 'spells') }}"
                                 data-anneau-samurai="{{ samurai.air }}"
                                 data-rang-samurai="{{ samurai.rang }}">
								<h5>{{ sort.nom|trans({}, 'spells') }}</h5>
							</div>
							{% endfor %}
						</div>
						<div class="col-md-12">
							<div class="col-md-12 label-emplacements">
								<h4>{{ 'water_spells'|trans }}</h4>({{ 'samurai_page.remaining_slots'|trans }}:
                                <input class="emplacements-sorts" name="eau-restants" id="eau-restants" value="{{ samurai.eauRestants }}" min="0" max="{{ samurai.eau }}" type="number"/>)
							</div>
							{% for sort in sorts if sort.anneau|trans == 'Eau' %}
							<div class="sort-appris col-md-3" data-nom="{{ sort.nom|trans({}, 'spells') }}"
                                 data-anneau="{{ sort.anneau|trans({}, 'spells') }}"
                                 data-maitrise="{{ sort.maitrise|trans }}"
                                 data-mots-cles="{{ sort.motsCles|trans({}, 'spells') }}"
                                 data-portee="{{ sort.portee|trans({}, 'spells') }}"
                                 data-zone-effet="{{ sort.zoneEffet|trans({}, 'spells') }}"
                                 data-duree="{{ sort.duree|trans({}, 'spells') }}"
                                 data-augm="{{ sort.augmentations|trans({}, 'spells') }}"
                                 data-description="{{ sort.description|trans({}, 'spells') }}"
                                 data-anneau-samurai="{{ samurai.eau }}" data-rang-samurai="{{ samurai.rang }}">
								<h5>{{ sort.nom|trans({}, 'spells') }}</h5>
							</div>
							{% endfor %}
						</div>
						<div class="col-md-12">
							<div class="col-md-12 label-emplacements">
								<h4>{{ 'fire_spells'|trans }}</h4>({{ 'samurai_page.remaining_slots'|trans }}:
                                <input class="emplacements-sorts" name="feu-restants" id="feu-restants" value="{{ samurai.feuRestants }}" min="0" max="{{ samurai.feu }}" type="number"/>)
							</div>
							{% for sort in sorts if sort.anneau|trans == 'Feu' %}
							<div class="sort-appris col-md-3" data-nom="{{ sort.nom|trans({}, 'spells') }}"
                                 data-anneau="{{ sort.anneau|trans({}, 'spells') }}"
                                 data-maitrise="{{ sort.maitrise }}"
                                 data-mots-cles="{{ sort.motsCles|trans({}, 'spells') }}"
                                 data-portee="{{ sort.portee|trans({}, 'spells') }}"
                                 data-zone-effet="{{ sort.zoneEffet|trans({}, 'spells') }}"
                                 data-duree="{{ sort.duree|trans({}, 'spells') }}"
                                 data-augm="{{ sort.augmentations|trans({}, 'spells') }}"
                                 data-description="{{ sort.description|trans({}, 'spells') }}"
                                 data-anneau-samurai="{{ samurai.feu }}" data-rang-samurai="{{ samurai.rang }}">
								<h5>{{ sort.nom|trans({}, 'spells') }}</h5>
							</div>
							{% endfor %}
						</div>
						<div class="col-md-12">
							<div class="col-md-12 label-emplacements">
								<h4>{{ 'void_spells'|trans }}</h4>({{ 'samurai_page.remaining_slots'|trans }}:
                                <input class="emplacements-sorts" name="vide-restants" id="vide-restants" value="{{ samurai.videRestants }}" min="0" max="{{ samurai.vide }}" type="number"/>)
							</div>
							{% for sort in sorts if sort.anneau|trans == 'Vide' %}
							<div class="sort-appris col-md-3" data-nom="{{ sort.nom|trans({}, 'spells') }}"
                                 data-anneau="{{ sort.anneau|trans({}, 'spells') }}"
                                 data-maitrise="{{ sort.maitrise }}"
                                 data-mots-cles="{{ sort.motsCles|trans({}, 'spells') }}"
                                 data-portee="{{ sort.portee({}, 'spells') }}"
                                 data-zone-effet="{{ sort.zoneEffet|trans({}, 'spells') }}"
                                 data-duree="{{ sort.duree|trans({}, 'spells') }}"
                                 data-augm="{{ sort.augmentations|trans({}, 'spells') }}"
                                 data-description="{{ sort.description|trans({}, 'spells') }}"
                                 data-anneau-samurai="{{ samurai.vide }}" data-rang-samurai="{{ samurai.rang }}">
								<h5>{{ sort.nom|trans({}, 'spells') }}</h5>
							</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
            </div>

            <div class="col-md-4">
                <h3 class="titre">{{ 'menu.fight'|trans }}</h3>
                <table id="combat">
                    <tr>
                        <th colspan="2">{{ 'Initiative'|trans }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'Basic'|trans }}</td>
                        <td id="init-basique" title="{{ 'title.init_roll'|trans({'rang': samurai.rang, 'reflexes': samurai.reflexes}) }}"></td>
                    </tr>
                    <tr>
                        <td>{{ 'Modifiers'|trans }}</td>
                        <td><input id="init-modificateurs" type="text" value="{{ samurai.bonusInit }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ 'Total'|trans }}</td>
                        <td id="init-total" class="bouton-preparation-lancer cliquable"></td>
                    </tr>

                    <tr>
                        <th colspan="2">{{ 'armor_nd'|trans }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'Basic'|trans }}</td>
                        <td id="nd-basique"></td>
                    </tr>
                    <tr>
                        <td>{{ 'Modifiers'|trans }}</td>
                        <td><input id="nd-modificateurs" type="number" value="{{ samurai.bonusNd }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ 'Total'|trans }}</td>
                        <td id="nd-total"></td>
                    </tr>

                    <tr>
                        <th colspan="2">{{ 'armor'|trans }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'Nom' }}</td>
                        <td id="armure-nom">
                            {% if armure != null %}
                                {{ armure.nom|trans({}, 'armor') }}</td>
                            {% else %}
                                {{ ('None_fem')|trans }}
                            {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'nd_bonus'|trans }}</td>
                        <td id="armure-nd">
                            {% if armure != null %}
                                {{ armure.nd|default(0) }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'armure.reduction'|trans }}</td>
                        <td id="armure-reduction">
                            {% if armure != null %}
                                {{ armure.reduction|default(0) }}</td>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Notes'|trans }}</td>
                        <td class="notes">
                            {% if armure != null %}
                                {{ armure.reglesSpeciales|trans({}, 'armor')|default('')|trans }}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2">{{ 'samurai.wounds'|trans }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'samurai_page.wounds.indemn'|trans }}</td>
                        <td id="indemne"></td>
                    </tr>
                    <tr>
                        <td>{{ 'samurai_page.wounds.per_rank'|trans }}</td>
                        <td id="rang-de-blessures"></td>
                    </tr>
                    <tr>
                        <td>{{ 'samurai_page.wounds.current'|trans }}</td>
                        <td><input id="blessures" class="cliquable" type="number" value="{{ samurai.blessures }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ 'samurai_page.wounds.current_rank'|trans }}</td>
                        <td id="rang-actuel"></td>
                    </tr>
                    <tr>
                        <td>{{ 'samurai_page.wounds.current_penalty'|trans }}</td>
                        <td id="malus-actuel"></td>
                    </tr>

                    <tr>
                        <th colspan="2">{{ 'samurai_page.wounds_recuperation'|trans }}</th>
                    </tr>
                    <tr>
                        <td>{{ 'Basic'|trans }}</td>
                        <td id="recuperation-basique"></td>
                    </tr>
                    <tr>
                        <td>{{ 'Modifiers'|trans }}</td>
                        <td><input id="recuperation-modificateurs" type="number" value="{{ samurai.bonusRecup }}" /></td>
                    </tr>
                    <tr>
                        <td>{{ 'Total'|trans }}</td>
                        <td id="recuperation-total"></td>
                    </tr>
                </table>
            </div>

            <div id="memo" class="col-md-12 accordion-holder">
                <button class="accordion">{{ 'samurai_page.memo.spend_void.title'|trans }}</button>
                <div class="smooth-hover">
                    <table>
                        <tr><td>{{ 'samurai_page.memo.spend_void.1'|trans }}</td></tr>
                        <tr><td>{{ 'samurai_page.memo.spend_void.2'|trans }}</td></tr>
                        <tr><td>{{ 'samurai_page.memo.spend_void.3'|trans }}</td></tr>
                        <tr><td>{{ 'samurai_page.memo.spend_void.4'|trans }}</td></tr>
                        <tr><td>{{ 'samurai_page.memo.spend_void.5'|trans }}</td></tr>
                        <tr><td>{{ 'samurai_page.memo.spend_void.6'|trans }}</td></tr>
                    </table>
                </div>


                <button class="accordion">{{ 'samurai_page.memo.postures.title'|trans }}</button>
                <div class="smooth-hover">
                    <table>
                        <tr>
                            <th>{{ 'Nom'|trans }}</th>
                            <th>{{ 'Description'|trans }}</th>
                        </tr>
                        <tr>
                            <td>{{ 'posture.attack'|trans }}</td>
                            <td>{{ 'samurai_page.memo.postures.attack_descr'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'posture.assault'|trans }}</td>
                            <td>{{ 'samurai_page.memo.postures.assault_descr'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'posture.defense'|trans }}</td>
                            <td>{{ 'samurai_page.memo.postures.defense_descr'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'posture.dodge'|trans }}</td>
                            <td>{{ 'samurai_page.memo.postures.dodge_descr'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'posture.center'|trans }}</td>
                            <td>{{ 'samurai_page.memo.postures.center_descr'|trans|raw }}</td>
                        </tr>
                    </table>
                </div>

                <button class="accordion">{{ 'samurai_page.memo.maneuvers.title'|trans }}</button>
                <div class="smooth-hover">
                    <table>
                        <tr>
                            <th>{{ 'Nom'|trans }}</th>
                            <th>{{ 'Augmentations'|trans }}</th>
                            <th>{{ 'Description'|trans }}</th>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.aim.name'|trans }}</td>
                            <td>{{ 'Variable'|trans }}</td>
                            <td>{{ 'samurai_page.memo.maneuvers.aim.description'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.unarm.name'|trans }}</td>
                            <td>3</td>
                            <td>{{ 'samurai_page.memo.maneuvers.unarm.description'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.bonus_attack.name'|trans }}</td>
                            <td>5</td>
                            <td>{{ 'samurai_page.memo.maneuvers.bonus_attack.description'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.feint.name'|trans }}</td>
                            <td>2</td>
                            <td>{{ 'samurai_page.memo.maneuvers.feint.description'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.guardian.name'|trans }}</td>
                            <td>0</td>
                            <td>{{ 'samurai_page.memo.maneuvers.guardian.description'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.increase_damage.name'|trans }}</td>
                            <td>1 {{ 'or_more'|trans }}</td>
                            <td>{{ 'samurai_page.memo.maneuvers.increase_damage.description'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.maneuvers.fall.name'|trans }}</td>
                            <td>2 {{ 'or'|trans }} 4</td>
                            <td>{{ 'samurai_page.memo.maneuvers.fall.description'|trans }}</td>
                        </tr>
                    </table>
                </div>

                <button class="accordion">{{ 'samurai_page.memo.duel.title'|trans }}</button>
                <div class="smooth-hover">
                    <table>
                        <tr>
                            <td colspan="2">{{ 'samurai_page.memo.duel.intro'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.duel.evaluation.title'|trans }}</td>
                            <td>{{ 'samurai_page.memo.duel.evaluation.description'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.duel.concentration.title'|trans }}</td>
                            <td>{{ 'samurai_page.memo.duel.concentration.description'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.duel.strike.title'|trans }}</td>
                            <td>{{ 'samurai_page.memo.duel.strike.description'|trans|raw }}</td>
                        </tr>
                    </table>
                </div>

                <button class="accordion last-button">{{ 'samurai_page.memo.battle.title'|trans }}</button>
                <div class="smooth-hover">
                    <table>
                        <tr>
                            <td colspan="2">{{ 'samurai_page.memo.battle.intro'|trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.battle.declarations.name'|trans }}</td>
                            <td>{{ 'samurai_page.memo.battle.declarations.description'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.battle.evolution.name'|trans }}</td>
                            <td>{{ 'samurai_page.memo.battle.evolution.description'|trans|raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'samurai_page.memo.battle.resolution.name'|trans }}</td>
                            <td>{{ 'samurai_page.memo.battle.resolution.description'|trans|raw }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{# Avantages, désavantages, techniques, katas, kihos #}
<div id="avantages-et-techniques" class="card">
    <div class="card-body">

        <label for="toggle-vues-techniques">{{ 'samurai_page.display_detailed'|trans }} / {{ 'samurai_page.swap_techniques'|trans }}</label>
        <input type="checkbox" class="toggle-vues" id="toggle-vues-techniques" data-id="avantages-et-techniques">

        {# Vue détaillée #}
        {% include 'blocks/l5a/_a_d_t_vue_detaillee.html.twig' %}

        {# Vue simplifiée #}
        <div class="col-md-12 vue-simplifiee">
            <div class="col-md-4">
                <section id="avantages">
                    <h3 class="titre">{{ 'Advantages'|trans }}</h3>
                        {% for avantage in avantages if est_proprio or avantage.perso.estCache != 1 %}
                                <div class="col-md-12">
                                    <button class="center accordion">{{ avantage.vanilla.nom|trans({}, 'advantages')|default('') }}</button>
                                    <div class="smooth-hover">
                                        <table>
                                            <td>
                                                {{ avantage.vanilla.description|trans({}, 'advantages')|default('')|raw }}<br>
                                                <span id="avantage-perso-{{ avantage.perso.id }}">
                                                    {{ avantage.perso.resume|default('') }}</span>
                                            </td>
                                        </table>
                                    </div>
                                </div>
                        {% endfor %}
                </section>
            </div>
            <div class="col-md-4">
                <section id="desavantages">
                    <h3 class="titre">{{ 'Disadvantages'|trans }}</h3>
                    {% for desavantage in desavantages if est_proprio or desavantage.perso.estCache != 1%}
                        <div class="col-md-12">
                            <button class="center accordion">{{ desavantage.vanilla.nom|trans({}, 'disadvantages')|default('') }}</button>
                            <div class="smooth-hover">
                                <table>
                                    <td>
                                        {{ desavantage.vanilla.description|trans({}, 'disadvantages')|default('')|raw }}<br>
                                        <span id="desavantage-perso-{{ desavantage.perso.id }}">
                                            {{ desavantage.perso.resume|default('') }}</span>
                                    </td>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="col-md-4">
                <section id="techniques">
                    <h3 class="titre">{{ 'Techniques'|trans }}</h3>
                    {% for technique in techniques.usedTechniques %}
                        {% if technique is not null %}
                            {% if samurai.rang >= technique.rangMinimum %}
                                <div class="col-md-12">
                                    <button class="center accordion">{{ technique.nom|trans({}, 'techniques')|default('') }}</button>
                                    <div class="smooth-hover">
                                        <table>
                                            <td>{{ technique.description|trans({}, 'techniques')|default('') }}</td>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</div>

{# détails et equipement #}
<div id="details-et-equipement" class="card">
{% include 'blocks/l5a/_details_et_equipements.html.twig' %}
</div>

{# Notes campagne #}
<div id="notes-campagne" class="card">
{% include 'blocks/l5a/_notes_campagne.html.twig' %}
</div>

<div><div id="combat-modal" class="modal"></div></div>

<script>
    var chemins = {};
    chemins.majPersonnage = "{{ path('maj_personnage', ({ 'id': samurai.id })) }}";
    chemins.majLieu = "{{ path('maj_lieu', ({ 'id': samurai.id })) }}";
    chemins.majObjectifs = "{{ path('maj_objectifs', ({ 'id': samurai.id })) }}";
    chemins.majFleches = "{{ path('maj_fleches', ({ 'id': samurai.id })) }}";
    chemins.majSamurai = "{{ path('maj_samurai', ({ 'id': samurai.id })) }}";
    chemins.majArmePerso = "{{ path('maj_arme_perso') }}";
    chemins.nouvelItem = "{{ path('nouvel_item', ({ 'id': samurai.id })) }}";
    chemins.equiperArmure = "{{ path('equiper_armure', ({ 'id': samurai.id })) }}";
    chemins.supprimerEquipement = "{{ path('supprimer_equipement', ({ 'id': samurai.id })) }}";
    chemins.supprimerPersonnage = "{{ path('supprimer_personnage', ({ 'id': samurai.id })) }}";
    chemins.supprimerArme = "{{ path('supprimer_arme', ({ 'id': samurai.id })) }}";
    chemins.editerAvantage = "{{ path('maj_avantage_perso', ({ 'id': samurai.id })) }}";
    chemins.editerDesavantage = "{{ path('maj_desavantage_perso', ({ 'id': samurai.id })) }}";
    chemins.majProvisions = "{{ path('maj_provisions') }}";
    chemins.majNotesJoueurs = "{{ path('maj_notes_joueurs') }}";
    chemins.majSamuraiTechnique = "{{ path('maj_samurai_technique', ({'id': samurai.id})) }}";


    // Set Pusher parameters
    var pusher_key = "{{ pusherKey }}",
    pusher_cluster = "{{ pusherCluster }}";
</script>
{% endblock %}

{% block javascripts %}
    {#<script src="https://js.pusher.com/4.0/pusher.min.js"></script> -#}
    <script src="{{ asset('build/character-sheet.js') }}"></script>
{% endblock %}
